@use '/src/mixins' as mixins;
@import "/src/colors";
@import "/src/fonts";

:host {
  overflow: hidden;
}

.tabs {
  display: flex;
  flex-direction: column;
  height: 100%;

  &--bordered {
    margin-top: 20px;
    position: relative;

    border-radius: 24px;
    border: 1.5px solid #ebebeb;

    .tabs__title {
      position: absolute;
      top: -21px;
      left: 50%;
      z-index: 1;

      background: white;
      transform: translate(-50%);
    }
  }

  &__title-container {
    padding: 4px;

    background: #fafafa;
    border-radius: 12px;
    box-shadow: inset 0px 1px 2px 1px rgb(0 0 0 / 4%);
  }

  &__tabs-section {
    position: relative;
    box-sizing: border-box;
    display: flex;
    gap: 4px;
    height: 32px;
  }

  &__title {
    padding: 0px 8px 4px 8px;

    font-family: $font-system;
    font-size: 14px;
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    line-height: 1rem;
    color: #474747;
    z-index: 1;
    transition: color 0.4s ease-in-out,background-color 0.1s ease-in;

    cursor: pointer;

    &--cover-selected {
      box-sizing: border-box;
      position: absolute;
      height: inherit; 

      background-color: white;
      border-radius: 8px;
      transition: left 0.4s ease-in-out;
      box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;
    }

    &:not(.tabs__tab.tabs__tab--selected):hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &--selected {
      color: $font-primary;
    }
  }

  &__content {
    position: relative;
    left: 0;
    display: grid;
    block-size: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    height: 90%;
    flex: 1;

    transition: left 0.4s ease-in-out;
    will-change: left;

    &--switched {
      left: -100%
    }
  }

  .tab-content {
    @include mixins.scrollable();

    opacity: 0;
    transition: opacity 0.2s ease-in;

    &--selected {
      opacity: 1;
    }
  }
}


