.preview-page {
  width: 100%;
  padding: 12px;
  aspect-ratio: 1 / 1.4142;

  font-family: Ubuntu;

  box-sizing: border-box;
  border: 1px solid #ccc;
  user-select: none;

  &__table {
    width: 100%;

    font-family: Ubuntu;
    border: 1px solid #ccc;
    border-bottom: none;
    
    th, td, th {
      height: auto;
      padding: 2px;

      font-size: 5px;
      border: 1px solid #ccc;
      border-top: none;
      border-left: none;
    }

    th {
      color: #111;
    }

    tr {
      height: auto;

      th:last-child,
      td:last-child  {
        border-right: none;
      }
    }
  }

  &__nowrap {
    white-space: nowrap;
  }

  &__loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}