<section class="source-code-illustration">
    <div class="source-code-illustration__column">
        <span>1</span>
        <span>0</span>
        <span>1</span>
    </div>
    <div class="source-code-illustration__column">
        <span class="code--fade-3">0</span>
        <span>1</span>
        <span>0</span>
    </div>
    <div class="source-code-illustration__column">
        <span>1</span>
        <span>0</span>
        <span>1</span>
    </div>
    <div class="source-code-illustration__column">
        <span class="code--fade-1">1</span>
        <span>1</span>
        <span>1</span>
    </div>
    <div class="source-code-illustration__column">
        <span>0</span>
        <span>0</span>
        <span>0</span>
    </div>
    <div class="source-code-illustration__column">
        <span>1</span>
        <span class="code--fade-2">1</span>
        <span>0</span>
    </div>
</section>