<div class="ubuntu-container">
  @if (title()) {
    <header class="ubuntu-container__header">
      {{title()}}

      @if (info()) {
        <mat-icon
          class="ubuntu-container__info"
          [matTooltip]="info()"
        >
          info
        </mat-icon>
      }

      <div class="ubuntu-container__actions">
        <ng-content select="[actions]"></ng-content>
      </div>
    </header>
  }

  <main
    class="ubuntu-container__content"
    [class.ubuntu-container__content--with-borders]="hasBordersStyle()"
  >
    <ng-content></ng-content>
  </main>
</div>
