@import '/src/colors';
@import '/src/fonts';

:host {
  display: block;
}

.ubuntu-container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__header {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 36px;
    margin-left: 6px;

    font-size: 14px;
    font-family: $font-system;
    font-weight: bold;
    color: $font-color-primary;
  }

  &__info {
    height: 14px;
    width: 14px;

    font-size: 15px;
    color: $font-color-secondary;
    cursor: pointer;
  }

  &__actions {
    margin-left: auto;
  }

  &__content {
    border-radius: 12px;
    background: transparent;

    &--with-borders {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }
  }
}