<section class="table-panel">
  @if (selectedRowsCount()) {
    <div class="table-panel__selection">
      <app-button button-transparent (click)="move.emit()">
        <mat-icon>compare_arrows</mat-icon>
      </app-button>
      <app-button button-transparent (click)="delete.emit()">
        <mat-icon class="table-panel__selection-delete" svgIcon="trash"></mat-icon>
      </app-button>
      @if (hasData()) {
        <mat-divider vertical="true"></mat-divider>
      }
    </div>
  }
  <app-button button-transparent (click)="add.emit()">
    <mat-icon>add</mat-icon>
  </app-button>
  @if (hasData()) {
    <app-button button-transparent [matMenuTriggerFor]="contextMenu">
      <mat-icon>file_download</mat-icon>
    </app-button>
  }
  @if (hasData()) {
    <mat-divider vertical="true"></mat-divider>
  }
  @if (hasData()) {
    <cm-column-selector [columnConfigs]="columnSchemas()" (onVisibilityChanged)="onVisibilityChanged.emit($event)">
    </cm-column-selector>
  }
</section>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <div cmTextHeader="h4" class="mat-menu-content__header">{{"MENU.TITLE.EXPORT" | translate}}</div>
    <button class="menu-item"
      mat-menu-item
      (click)="exportToPDF.emit()">
      <mat-icon svgIcon="printer"></mat-icon>
      <span cmTextBody="b1">PDF</span>
    </button>
    <button class="menu-item"
      (click)="exportToCSV.emit()"
      mat-menu-item>
      <mat-icon svgIcon="csv"></mat-icon>
      <span cmTextBody="b1">CSV</span>
    </button>
  </ng-template>
</mat-menu>
