@import '/src/colors';
@import '/src/fonts';


@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% { opacity: 1; transform: scale(1); }
  50% {
    transform: scale(1.05);
  }
  100% { opacity: 0; transform: scale(0.9); }
}

.table-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  font-family: $font-system;

  &__expander {
    width: 100%;
  }

  &__group-delete {
    color: $color-dangerous;
  }

  &__group {
    opacity: 0;
    pointer-events: none;

    &:not(.table-panel__group--show) {
      animation: fadeOut 0.2s ease-in forwards;
    }

    &--show {
      animation: fadeInScale 0.2s ease-out forwards;
      pointer-events: all;
    }
  }


}