<section class="table-panel">
  <cm-actions-panel class="table-panel__group table-panel__group--dynamic" [class.table-panel__group--show]="selectedRowsCount()">
    <button cm-button size="small" variant="transparent" shape="rounded" button-transparent (click)="move.emit()">
      <mat-icon>compare_arrows</mat-icon>
    </button>
    <button cm-button size="small" variant="transparent" shape="rounded" button-transparent (click)="delete.emit()">
      <mat-icon class="table-panel__group-delete" svgIcon="trash"></mat-icon>
    </button>
  </cm-actions-panel>

  <cm-actions-panel>
    <button
      cm-button
      size="small"
      variant="transparent"
      shape="rounded"
      (click)="add.emit()"
    >
      <mat-icon>add</mat-icon>
    </button>

    @if (hasData()) {
      <button
        cm-button
        size="small"
        variant="transparent"
        shape="rounded"
        [matMenuTriggerFor]="contextMenu"
        #menu="matMenuTrigger"
        [active]="menu.menuOpen"
      >
        <mat-icon>file_download</mat-icon>
      </button>
    }
  </cm-actions-panel>

  @if (hasData()) {
    <cm-actions-panel>
      <cm-column-selector
        [columnConfigs]="columnSchemas()"
        (onVisibilityChanged)="onVisibilityChanged.emit($event)"
      />
    </cm-actions-panel>
  }
</section>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <div cmTextHeader="h4" class="mat-menu-content__header">{{"MENU.TITLE.EXPORT" | translate}}</div>
    <button class="menu-item"
      mat-menu-item
      (click)="exportToPDF.emit()">
      <mat-icon svgIcon="printer"></mat-icon>
      <span cmTextBody="b1">PDF</span>
    </button>
    <button class="menu-item"
      (click)="exportToCSV.emit()"
      mat-menu-item>
      <mat-icon svgIcon="csv"></mat-icon>
      <span cmTextBody="b1">CSV</span>
    </button>
  </ng-template>
</mat-menu>
