@use "/src/mixins" as m;

@import "/src/colors";
@import "/src/fonts";

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.cm-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  border: none;
  border-radius: 21px;
  background: transparent;

  cursor: pointer;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    height: inherit;
    width: 100%;
    padding: 0 8px;
  }

  &__label {
  }

  &--primary {
    background-color: $color-primary;
    color: white;

    &:hover {
      background: m.mix-color($color-primary, white, 10%);
    }

    &[disabled] {
      background-color: m.mix-color($color-primary, white, 60%);
    }
  }

  &--secondary {
    background-color: transparent;
    color: $font-color-primary;

    &:hover {
      background: $background-button-hover;
    }
  }

  &--neutral {
    background-color: $background-primary;
    color: $font-color-primary;

    &:hover {
      background: $background-button-hover;
    }
  }

  &--dangerous {
    background-color: $color-dangerous;
    color: white;

    &:hover {
      background: m.mix-color($color-dangerous, white, 10%);
    }

    &[disabled] {
      background-color: m.mix-color($color-dangerous, white, 60%);
    }
  }

  &--transparent {
    background: transparent;

    &:hover {
      background: var(--background-button-hover);
    }
  }


  &--medium {
    height: 42px;
    min-width: 42px;
  }

  &--small {
    height: 36px;
    min-width: 36px;
    padding: 0;

    .cm-button__container {
      padding: 0;
    }

  }

  &:active {
    animation: press 0.2s ease-in-out backwards;
  }
}