@import '/src/fonts';
@import '/src/colors';

.empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  &__container {
    font-family: $font-system;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    color: $color-button-icon;
  }

  &__icon {
    height: 48px;
    width: 48px;
    font-size: 48px;
  }
}