@import '/src/fonts';
@import '/src/colors';

.empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: $font-system;
    font-size: 32px;
    font-weight: normal;
    color: $background-header-primary;
  }

  &__icon {
    height: 128px;
    width: 128px;

    font-size: 128px;
  }
}