@import '/src/colors';
@import '/src/fonts';

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.welcome-page {
  height: 100%;
  display: flex;
  overflow: hidden;

  font-family: $font-system;
  user-select: none;

  &__form-container {
    position: relative;
    width: 60%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__illustration-container {
    width: 40%;
    background: $color-secondary;
  }

  &__illustration {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 192px;
    background-image: url('/assets/illustration.png');

    animation: slide 15s linear infinite;
  }

  &__content {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 8px;

    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    color: $font-primary;
  }

  &__sub-title {
    display: flex;
    align-items: center;
    margin-bottom: 64px;

    color: #333;
    font-size: 18px;
    font-family: $font-primary;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;

    position: absolute;
    right: 40%;
    bottom: 12px;
  }

  &__question-text {
    margin-right: 12px;

    font-family: $font-system;
    font-size: 14px;
    color: #222;
  }

  &__app-icon {
    width: 96px;
    width: 96px;
    margin-bottom: 24px;
  }
}

@media (max-width: 678px) {
  .welcome-page {
    &__form-container {
      width: 100%;
    }

    &__illustration-container {
      display: none;
    }

    &__title {
      font-size: 36px;
    }

    &__buttons {
      right: 12px;
    }
  }
}
