<div class="move-dialog">
  <app-dialog [title]="'DIALOG.MOVE.TITLE'"
    [submitText]="'DIALOG.BUTTONS.MOVE'"
    [disabledSumbitButton]="!selectedItemId"
    (close)="dialogRef.close()"
    (submit)="onSubmit()"
    >
    <section content>
      <div class="move-dialog__panel">
        <mat-form-field>
          <input [placeholder]="'DIALOG.MOVE.SEARCH' | translate" cdkFocusInitial matInput (keyup)="onSearchChange($event)">
        </mat-form-field>
      </div>

      @if(items.length === 0) {
        <div class="move-dialog__empty">
          <mat-icon class="move-dialog__empty-icon">search</mat-icon>
          <span class="move-dialog__empty-text">{{"DIALOG.MOVE.NO_SEARCH_RESULT" | translate}}</span>
        </div>
      } @else {
        <div class="move-dialog__list">
          @for (group of items; track group) {
            @if (group.items.length) {
              <div class="move-dialog__group">
                <span cmTextHeader="h4" class="move-dialog__group-title">{{group.group}}</span>
                @for (item of group.items; track item) {
                  @if (item.id !== data.parent) {
                    <div mat-ripple
                      class="move-dialog__group-item"
                      [class.move-dialog__group-item--selected]="item.id === selectedItemId"
                      (click)="onSelect(item.id)"
                      >
                      <mat-icon class="move-dialog__list-icon"
                        [svgIcon]="item.icon">
                      </mat-icon>
                      <span cmTextBody="b1">{{item.name}}</span>
                    </div>
                  }
                }
              </div>
            }
          }
        </div>
      }
    </section>
  </app-dialog>
</div>
