@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.move-dialog {
  font-family: $font-system;
  color: $font-color-primary;
  font-size: 14px;

  &__empty {
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: $font-color-secondary;
  }

  &__empty-text {
    font-size: 18px;
    font-weight: 500;
  }


  &__empty-icon {
    margin-top: 64px;
    --icon-size: 64px;
    height: var(--icon-size);
    width: var(--icon-size);
    font-size: var(--icon-size);
  }

  &__list {
    @include mixins.scrollable;

    display: flex;
    flex-direction: column;
    gap: 8px;

    height: 256px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__group-title {
    position: sticky;
    padding: 4px 0 8px 0;
    top: 0;
    z-index: 1;

    color: $font-color-secondary;
    background-color: $background-primary;
    font-size: 13px;
    font-weight: 500;
  }

  &__group-item {
    min-height: 38px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 6px;

    color: $font-color-primary;
    line-height: 1;
    border-radius: 12px;
    transition: background-color 0.1s ease-out;
    cursor: pointer;

    &:hover {
      background: $background-button-hover;
    }

    &--selected {
      color: white;
      background: $color-primary;
    }

    &--selected:hover {
      color: white;
      background: $color-primary;
    }
  }
}