@import '/src/colors';
@import '/src/fonts';

.create-dialog {
  &__option-content {
    display: flex;
    align-items: center;
  }
  
  &__option-icon {
    width: 24px;
    margin-right: 8px;
  }

  &__illustration-container {
    display: flex;
  }

  &__illustration-icon {
    width: 18px;
    margin-right: 8px;
  }

  mat-form-field {
    font-family: $font-system;
    width: 100%;
    margin-bottom: 8px;

    &.mat-form-field-invalid mat-label {
      caret-color: #c7162b;
      color: #c7162b !important;
    }

    mat-label {
      color: $font-primary;
      font-size: 20px;
    }

    input:placeholder-shown {
      font-size: 16px;
    }
  }

  mat-error {
    color: #c7162b;
  }
}