<div class="create-dialog">
  <header class="create-dialog__header">
    <div class="create-dialog__button-container">
      <button class="button button__cancel" mat-button (click)="onClose()">{{"DIALOG.BUTTONS.CANCEL" | translate}}</button>
    </div>
    <div class="create-dialog__header-text">{{(data.mode === 0 ? "DIALOG.ADD" : "DIALOG.EDIT") | translate}} {{"DIALOG.CATEGORY" | translate}}</div>
    <div class="create-dialog__button-container">
      <button class="button button__submit" mat-button (click)="onSubmit()">{{(data.mode === 0 ? "DIALOG.BUTTONS.ADD" : "DIALOG.BUTTONS.EDIT") | translate}}</button>
    </div>
  </header>

  <main class="create-dialog__content">
    <form [formGroup]="categoryForm">
      <mat-form-field [floatLabel]="'always'">
        <mat-label>{{"DIALOG.FIELDS.NAME" | translate}}</mat-label>
        <input cdkFocusInitial [required]="true" [formControlName]="'name'" matInput>
        <mat-error>
          {{"DIALOG.VALIDATIONS.NAME" | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
      <mat-label>{{"DIALOG.FIELDS.CATEGORY" | translate}}</mat-label>
        <mat-select [formControlName]="'parent'">
          <mat-option *ngFor="let parent of data.parents" [value]="parent.value">
            {{parent.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'" *ngIf="!categoryForm.get('parent').value">
        <mat-label>{{"DIALOG.FIELDS.ILLUSTRATION" | translate}}</mat-label>
          <mat-select [formControlName]="'illustration'">
            <mat-select-trigger class="create-dialog__illustration-container">
              <img class="create-dialog__illustration-icon"
                   *ngIf="categoryForm.get('illustration').value"
                   [src]="iconsPath + categoryForm.get('illustration').value">
              {{getIllustrationName(categoryForm.get('illustration').value) | translate}}
            </mat-select-trigger>
            <mat-option *ngFor="let illustrationOption of categoryIllustrationOptions" [value]="illustrationOption.value">
              <span class="create-dialog__option-content">
                <img class="create-dialog__option-icon" [src]="iconsPath + illustrationOption.value">
                <span class="create-dialog__option-text">
                {{illustrationOption.name | translate}}
                </span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
    </form>
  </main>
</div>
