<div class="create-dialog">
  <app-dialog [title]="title | async"
              [mode]="data.mode"
              (submit)="onSubmit()"
              (close)="dialogRef.close()"
  >
    <form class="create-dialog__form" content [formGroup]="categoryForm">
      <mat-form-field [floatLabel]="'always'">
        <mat-label>{{"DIALOG.FIELDS.NAME" | translate}}</mat-label>
        <input cdkFocusInitial [required]="true" [formControlName]="'name'" matInput>
        <mat-error>
          {{"DIALOG.VALIDATIONS.NAME" | translate}}
        </mat-error>
      </mat-form-field>
      <section *ngIf="!data.parentId" class="create-dialog__icons-container">
        <span class="create-dialog__icons-container-title">{{"DIALOG.FIELDS.ILLUSTRATION" | translate}}</span>
        <section class="create-dialog__icons-container-content">
          <div class="create-dialog__icons-section">
            <span class="create-dialog__icons-section-title">
              {{"DIALOG.ICON_GROUPS.CAR_PARTS" | translate}}
            </span>
            <section class="create-dialog__icon-selector">
              <div matRipple
                   class="create-dialog__icon-item"
                   [class.create-dialog__icon-item--selected]="icon.value === categoryForm.get('illustration').value"
                   *ngFor="let icon of icons.carParts"
                   (click)="categoryForm.get('illustration').setValue(icon.value)"
              >
                <img class="create-dialog__icon" [src]="iconsPath + icon.value">
              </div>
            </section>
          </div>
          <div class="create-dialog__icons-section">
            <span class="create-dialog__icons-section-title">
              {{"DIALOG.ICON_GROUPS.OTHERS" | translate}}
            </span>
            <section class="create-dialog__icon-selector">
              <div matRipple
                   class="create-dialog__icon-item"
                   [class.create-dialog__icon-item--selected]="icon.value === categoryForm.get('illustration').value"
                   *ngFor="let icon of icons.others"
                   (click)="categoryForm.get('illustration').setValue(icon.value)"
              >
                <img class="create-dialog__icon" [src]="iconsPath + icon.value">
              </div>
            </section>
          </div>
        </section>
      </section>
    </form>
  </app-dialog>
</div>
