@use '/src/mixins' as mixins;

@import '/src/colors';
@import '/src/fonts';

.create-dialog {
  &__icon {
    width: 20px;
  }

  .mat-form-field {
    margin-bottom: 12px;
  }

  &__icons-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 20px;
  }

  &__icons-container-title {
    margin-left: 10px;

    color: $font-color-primary;
    columns: $font-color-primary;
  }

  &__icons-container-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 18px;
    border: 1.5px solid $color-border;
    padding: 12px;

    background-color: rgba(0, 0, 0, 0.015);
  }

  &__icon-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__icons-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__icons-section-title {
    color: $font-color-primary;
  }

  &__icon-item {
    @include mixins.selectable;

    cursor: pointer;
    box-sizing: border-box;
    height: 38px;
    width: 38px;
    border-radius: 12px;
    color: $color-button-icon;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}