<div class="create-dialog">
  <app-dialog [title]="title | async"
              [mode]="data.mode"
              (submit)="onSubmit()"
              (close)="dialogRef.close()"
  >
    <form content [formGroup]="categoryForm">
      <mat-form-field [floatLabel]="'always'">
        <mat-label>{{"DIALOG.FIELDS.NAME" | translate}}</mat-label>
        <input cdkFocusInitial [required]="true" [formControlName]="'name'" matInput>
        <mat-error>
          {{"DIALOG.VALIDATIONS.NAME" | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'" *ngIf="!(data.mode === 1)">
      <mat-label>{{"DIALOG.FIELDS.CATEGORY" | translate}}</mat-label>
        <mat-select [formControlName]="'parent'">
          <mat-option *ngFor="let parent of data.parents" [value]="parent.value">
            {{parent.name}}
          </mat-option>
        </mat-select>
        <mat-icon class="mat-select__expand-icon">expand_more</mat-icon>
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'" *ngIf="!categoryForm.get('parent')?.value">
        <mat-label>{{"DIALOG.FIELDS.ILLUSTRATION" | translate}}</mat-label>
          <mat-select [formControlName]="'illustration'">
            <mat-select-trigger class="create-dialog__illustration-container">
              <img class="create-dialog__illustration-icon"
                   *ngIf="categoryForm.get('illustration').value"
                   [src]="iconsPath + categoryForm.get('illustration').value">
              {{getIllustrationName(categoryForm.get('illustration').value) | translate}}
            </mat-select-trigger>
            <mat-option *ngFor="let illustrationOption of categoryIllustrationOptions" [value]="illustrationOption.value">
              <span class="create-dialog__option-content">
                <img class="create-dialog__option-icon" [src]="iconsPath + illustrationOption.value">
                <span class="create-dialog__option-text">
                {{illustrationOption.name | translate}}
                </span>
              </span>
            </mat-option>
          </mat-select>
          <mat-icon class="mat-select__expand-icon">expand_more</mat-icon>
        </mat-form-field>
    </form>
  </app-dialog>
</div>
