@import '/src/colors';

:host {
  display: block;
}

.content-container {
  padding: 8px 12px;
  border-radius: 18px;
  border: 1.5px solid $color-border;
  position: relative;

  &__title {
    padding: 4px 8px;
    position: absolute;
    top: -15px;
    left: 18px;

    color: $font-color-primary;
    background: $background-primary;
    font-size: 14px;
    font-weight: bold;
  }

  &:last-child {
    margin-bottom: 0;
  }
}