:host {
  display: block;
}

.content-container {
  padding: 8px 12px;
  border-radius: 18px;
  border: 1.5px solid #ebebeb;
  position: relative;

  &__title {
    position: absolute;
    top: -15px;
    left: 18px;
    background: white;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}