os:
  - linux
  - osx
  - windows
language: node_js
node_js:
  - 'lts/*'
services:
  - xvfb
before_script:
  - export DISPLAY=:99.0
install:
  - npm set progress=false
  - npm install
script:
  - ng lint
  - npm run build
