@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.appearance {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    cursor: pointer;

    &--selected {
      .appearance__illustration {
        border: 1.5px solid $color-primary;
      }

      .appearance__label {
        color: white;
        background-color: $color-primary;
      }
    }
  }

  &__label {
    padding: 6px 12px;
    border-radius: 16px;

    color: $font-color-primary;
  }

  &__illustration {
    box-sizing: border-box;

    height: 64px;
    width: 92px;

    border: 2px solid $color-border;
    border-radius: 12px;

    &--light {
      background-color: white;
    }

    &--dark {
      background-color: #2b2b2b;
    }

    &--auto {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        background-color: white;
      }
      &:after {
        position: absolute;
        content: '';
        width: 50%;
        right: 0;
        height: 100%;
        background-color: #2b2b2b;
      }
    }
  }
}