<button cm-button size="small" variant="transparent" shape="rounded" [matMenuTriggerFor]="columnMenu">
  <mat-icon>view_column</mat-icon>
</button>

<mat-menu #columnMenu="matMenu">
  <ng-template matMenuContent>
    <div cmTextHeader="h4" class="mat-menu-content__header">{{'MENU.TITLE.COLUMNS' | translate}}</div>
    @for (column of columns; track column) {
      <button
        class="menu-item menu-item--column-selector"
        mat-menu-item
        (click)="onSwitchState($event, column.key)"
        >
        <cm-checkbox [value]="column.visible">
          {{column.name | translate}}
        </cm-checkbox>
      </button>
    }
  </ng-template>
</mat-menu>
