@use '/src/mixins' as mixins;

@import '/src/colors';

.mat-mdc-standard-chip {
  --mat-chip-label-text-color: #{$font-color-primary} !important;
  --mat-chip-elevated-container-color: #{$color-border} !important;
  --mat-chip-container-shape-radius: 10px;
  --mat-chip-label-text-font: #{$font-system} !important;
  --mat-chip-label-text-tracking: 0;
}

div.mat-mdc-autocomplete-panel.mdc-menu-surface--open {
  border-radius: 12px !important;
  margin: 8px 0;
  padding: 8px;
  background: $background-secondary;
}
.cdk-overlay-pane .mat-mdc-autocomplete-panel {
  @include mixins.scrollable();
}

.cm-select {
  border-radius: 12px !important;
  margin: 8px 0;
  background-color: $background-secondary;
  padding: 8px !important;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .mdc-list-item {
    @include mixins.selectable;
  }
}