@import '/src/colors';

.mdc-button {
  &__label {
    color: inherit;
    font-family: $font-system;
    letter-spacing: normal;
    line-height: 1;
  }

  &.mat-mdc-button {
    --mat-button-text-container-shape: 8px;
  }
}