@import '/src/colors';
@import '/src/fonts';

:root {
  --mdc-dialog-container-shape: 24px;
  --mdc-dialog-container-color: #{$background-primary};
}


.dialog {
  &-print {
    height: 600px;
  }

  &-settings {
    height: 80%;
  }

  &-records {
    height: 80vh;
    max-height: 700px;
  }
}