@import '/src/colors';
@import '/src/fonts';

:root {
  --mdc-outlined-text-field-error-outline-color: #{$color-dangerous} !important;
  --mdc-outlined-text-field-outline-width: 1.5px;
  --mdc-outlined-text-field-input-text-color: #{$font-color-primary};
  --mdc-outlined-text-field-container-shape: 12px;
  --mdc-outlined-text-field-outline-color: #{$color-border};
  --mdc-outlined-text-field-focus-outline-color: #{$color-primary};
  --mat-form-field-container-vertical-padding: 12px;
  --mdc-outlined-text-field-hover-label-text-color: #{$font-color-primary} !important;
  --mdc-outlined-text-field-focus-label-text-color: #{$color-primary} !important;
  --mdc-outlined-text-field-label-text-color: #{$font-color-primary} !important;
  --mdc-outlined-text-field-caret-color: #{$font-color-primary} !important;
  --mdc-outlined-text-field-label-text-font: #{$font-system} !important;
  --mdc-outlined-text-field-label-text-tracking: 0;
  --mdc-outlined-text-field-hover-outline-color: #7c7c7c;
  --mdc-outlined-text-field-label-text-size: 14px;
  --mat-form-field-container-height: 43px;
  --mat-form-field-subscript-text-tracking: 0;
  --mat-form-field-subscript-text-font: #{$font-system};
  --mat-form-field-subscript-text-line-height: 1;
  --mdc-outlined-text-field-input-text-placeholder-color:#{$font-color-secondary};
  --mat-form-field-container-text-line-height: 1.2;
}

.mat-mdc-form-field {
  display: flex !important;
  font-family: #{$font-system} !important;
}

.mat-mdc-form-field-infix {
  min-height: unset !important;
}

.mat-mdc-select-trigger .mat-mdc-select-arrow-wrapper {
  display: none;
}

.mat-mdc-option {
  padding: 0 12px !important;
  border-radius: 12px;
  min-height: 42px !important;
}

.mat-mdc-input-element {
  font-size: 14px !important;
}

.mat-mdc-form-field-input-control {
  letter-spacing: normal !important;
}

.mat-mdc-form-field-icon-suffix {
  padding: 0 12px 0 8px !important;
}

.mat-mdc-form-field-error-wrapper {
padding: 0 7px !important;
}

.mat-mdc-form-field-error {
  margin-top: -3px;
}


.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 34px;
  padding: 4px;
}

.form-field__title {
  margin-left: 10px;
  margin-bottom: 4px;

  color: $font-color-primary;
  font-family: $font-system;
  font-size: 14px;
  columns: $font-color-primary;
}

.form-field__title-required {
  color: $color-dangerous;
}