@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.page {
  position: relative;
  height: 100%;
  display: flex;

  background-color: $background-primary;

  user-select: none;

  &__title-section {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    min-height: 64px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background-color: #fafafa7d;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;

    font-family: $font-system;
    font-size: 18px;
    font-weight: 500;
    color: $font-color-primary;
  }

  &__title-buttons {
    display: flex;
    gap: 2px;
  }

  &__main {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
  }

  &__content {
    @include mixins.scrollable(24px);
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    gap: 24px;
    padding: 24px;
    padding-top: 82px;

    background-color: $background-secondary;

  }

  &__sidebar {
    position: absolute;
    right: -300px;
    height: 100%;
    width: 300px;

    background: white;

    transition: right 0.5s ease-in-out;
    z-index: 1000;

    &--show {
      right: 0;
    }
  }

  &__sidebar-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &--opened-side-bar {
    .page__main {
      width: calc(100% - 300px);
    }

    .page__shadow {
      width: calc(100% - 300px - 16px);
    }
  }

  &--separated {
    .page__main {
      width: 100%;
    }

    .page__content-shadow-cover {
      margin: 0 16px;
    }
  }
}