<div class="stack-item-list">
  @for(item of items(); track $index; let i = $index) {
    <div class="stack-item-list__item"
         *ngIf="i < maxCount"
         [matTooltip]="item.name"
         matTooltipPosition="before"
         matTooltipShowDelay="200"
  >
      @if (item.icon) {
        <mat-icon class="stack-item-list__illustration" [svgIcon]="'illustrations:' + item.icon"></mat-icon>
      } @else {
        <span class="stack-item-list__text">
          {{item.name[0]}}
        </span>
      }
    </div>
  }

  @if(items().length > maxCount) {
    <div class="stack-item-list__show-more-button"
        matRipple
        [matTooltip]="'STACK_ITEM_LIST.SHOW_ALL' | translate"
        [matTooltipPosition]="'above'"
        (click)="onShowMore($event)"
    >
      <div class="stack-item-list__show-more-button-icon">
        +{{items().length - maxCount}}
      </div>
    </div>
  }

</div>
