@import '/src/colors';

.release-notes {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    height: 42px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(50, 48, 48);
  }

  &__header-text {
    color: white;
  }

  &__button-container {
    width: 64px;
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: auto;
      justify-content: flex-start;
    }

    &:last-child {
      margin-left: auto;
      justify-content: flex-end;
    }
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    overflow: overlay;
  }

  &__section-title {
    font-size: 18px;
    color: black;
  }

  &__change {
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 24px;
    color: #333;
  }

  &__version-select {
    width: 64px;
    align-self: flex-end;

    &::ng-deep .mat-select-value,
    &::ng-deep .mat-select-arrow {
      color: white;
    }

    &::ng-deep .mat-form-field-underline {
      background: white;
    }
  }

  .button {
    width: 128px;
    font-family: Ubuntu;
    font-weight: normal;
    color: $font-primary;
  }
  
  .button__submit {
    background-color: #0d7f1e;
    border-color: rgba(0,0,0,0.56);
    color: #fff;
  }

  .donate {
    font-family: Ubuntu;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    h2 {
      margin-top: 0;
      font-weight: normal;
    }

    p {
      color: $font-primary;
      line-height: 1.4;
    }

    &__illustration {
      width: 100%;
    }
  }
}