<div class="release-notes">
  <header class="release-notes__header">
    <div class="release-notes__button-container">
      <mat-form-field class="release-notes__version-select">
        <mat-select #versionSelect [value]="selectedVersion">
          <mat-option *ngFor="let release of releases" [value]="release">
            {{ release }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="release-notes__header-text">{{"DIALOG.RELEASE_NOTES.TITLE" | translate}} {{selectedVersion}}</div>
    <div class="release-notes__button-container">
      <ubuntu-close-button (close)="dialogRef.close()"></ubuntu-close-button>
    </div>
  </header>

  <main class="release-notes__content">
    <div class="release-notes__section" *ngIf="releaseNotes.releaseNotes[selectedVersion].features.length">
      <div class="release-notes__section-title">
        Добавленный функционал:
      </div>
      <ul>
        <li class="release-notes__change" *ngFor="let feature of releaseNotes.releaseNotes[selectedVersion].features">
          {{feature.text}}
        </li>
      </ul>
    </div>

    <div class="release-notes__section" *ngIf="releaseNotes.releaseNotes[selectedVersion].improvements.length">
      <div class="release-notes__section-title">
        Улучшения:
      </div>
      <ul>
        <li class="release-notes__change" *ngFor="let improvement of releaseNotes.releaseNotes[selectedVersion].improvements">
          {{improvement.text}}
        </li>
      </ul>
    </div>

    <div class="release-notes__section" *ngIf="releaseNotes.releaseNotes[selectedVersion].bugFixes.length">
      <div class="release-notes__section-title">
        Исправленные ошибки:
      </div>
      <ul>
        <li class="release-notes__change" *ngFor="let bugFix of releaseNotes.releaseNotes[selectedVersion].bugFixes">
          {{bugFix.text}}
        </li>
      </ul>
    </div>
  </main>
</div>
