.release-notes {
  position: relative;

  &__header {
    height: 42px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(50, 48, 48);
  }

  &__header-text {
    color: white;
  }

  &__button-container {
    width: 64px;
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: auto;
      justify-content: flex-start;
    }

    &:last-child {
      margin-left: auto;
      justify-content: flex-end;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  &__section-title {
    font-size: 18px;
    color: black;
  }

  &__change {
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 24px;
    color: #333;
  }

  &__version-select {
    width: 64px;
    align-self: flex-end;

    &::ng-deep .mat-select-value,
    &::ng-deep .mat-select-arrow {
      color: white;
    }

    &::ng-deep .mat-form-field-underline {
      background: white;
    }
  }
}