@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.release-notes {
  height: 100%;
  overflow: hidden;

  user-select: none;
  font-family: $font-system;

  .container {
    padding: 0px 12px;
  }

  &__section-title {
    font-size: 1.5em;
    font-weight: bold;
  }

  &__title {
    margin-top: 0;

    color: $font-color-primary;
  }

  &__text {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.2;

    color: $font-color-secondary;
  }

  &__header {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    /* width: inherit; */
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba($color: $background-secondary, $alpha: 0.48);
    backdrop-filter: saturate(180%) blur(10px);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
  }

  &__video {
    padding: 24px;
    aspect-ratio: 16 / 9;
    object-position: top;
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .button {
    font-family: $font-system;
    font-weight: normal;
    color: $font-color-primary;
    min-width: initial;
    padding: 0 8px;
    height: 128px;
  }
}

.image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.slide-show {
  user-select: none;
  padding: 24px 0;

  &__content {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__position {
    position: absolute;
    height: 26px;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__image-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__note {
    font-family: $font-system;
    font-size: 1em;
    display: flex;
    background: rgba($color: #111, $alpha: 0.7);
    color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    position: absolute;
    bottom: 12px;
    left: 12px;
  }

  &__indicator {
    height: 12px;
    width: 12px;
    border-radius: 8px;
    background-color: white;
    transition: transform 0.2s ease-in;
    cursor: pointer;

    &--selected {
      background-color: $color-primary;
      border-color: transparent;
      transform: scale(1.2);
    }
  }

  &__list {
    padding-left: 20px;
  }
}

.close-button {
  color: $font-color-primary;
  min-width: initial;
  padding: 0 8px;
}