@import '/src/colors';

.cell-note {
  width: 100%;
  display: flex;
  justify-content: center;

  &__icon {
    height: 20px;
    width: 20px;

    color: $color-button-icon;
    transition: scale 0.15s ease-in-out;

    &:hover {
      scale: 1.1;
    }
  }
}