@import '/src/colors';

.home {
  display: flex;
  height: 100%;

  &__sidenav-container {
    width: 100%;
  }

  &__sidenav {
    width: 300px;

    box-sizing: content-box;
    border-right: none;
    transition: width 0.5s ease-in-out;

    &--minimize {
      width: 16px;
    }
  }

  &__content {
    height: 100vh;
    overflow: hidden;
    margin-left: 300px !important;

    transition: margin-left 0.5s ease-in-out;

    &--minimize {
      margin-left: 16px !important;
    }
  }
}
