@import '/src/colors';

.maintenance {
  display: flex;
  height: 100%;

  &__navigation {
    width: 324px;
    min-width: 324px;
  }

  &__content {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
