.records {
  &-table {
    font-family: Ubuntu;
    overflow-y: scroll;

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;

    &__menu-button {
      cursor: pointer;
    }

    &__menu-column {
      max-width: 24px;
      visibility: hidden;
    }
  }
}

.mat-row:hover {
  cursor: pointer;
  background: #F7F7F7;
}

.mat-row:hover .detail__menu-column {
  visibility: visible;
}