@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.records-table {
  @include mixins.scrollable;
  @include mixins.scrollable-horizontal;
  height: 100%;
  box-sizing: border-box;

  font-family: $font-system;
  border-radius: 8px;

  &--with-borders {
    border: 1px solid $separator-color;

    .records-table__row.mat-row:last-child {
      border-bottom-width: 1px;
    }
  }

  &__row {
    min-height: 42px;
    border-bottom-color: $separator-color;
  }

  user-select: none;

  &__menu-button {
    cursor: pointer;
  }

  &__menu-column {
    max-width: 24px;

    visibility: hidden;
  }

  &__cell-id {
    flex: 0 0 24px;
  }

  .records-table__header {
    min-height: 48px;
  }

  &__cell-cost {
    flex: 0 0 82px;
  }

  &__cell-date {
    flex: 0 0 84px;
  }

  &__cell-note {
    flex: 0 0 48px;
  }

  &__note-icon {
    height: 20px;
    width: 20px;

    font-size: 20px;
    color: #3c3a3a;
  }

  &__cell-mileage {
    flex: 0 0 84px;
  }

  &__cell-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .mat-cell,
  .mat-header-cell {
    padding-right: 24px;
  }

  .mat-row:hover {
    background: #F7F7F7;

    cursor: pointer;
  }
  
  .mat-row:last-child {
    border-bottom-width: 0;
  }
}
