<mat-table *ngIf="data.length" [dataSource]="data" class="records-table" [style.height]="stretch ? 'calc(100% - 132px)' : 'auto'">
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
    <mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mileage">
    <mat-header-cell *matHeaderCellDef> Пробег (км) </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.mileage | number | numberSeparator:' '}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Дата </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.date | date:'d MMM, y'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cost">
    <mat-header-cell *matHeaderCellDef> Расход (BYN) </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.cost | number | numberSeparator:' '}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="notes">
    <mat-header-cell *matHeaderCellDef> Заметка </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-icon *ngIf="row.notes"
                [matTooltip]="row.notes"
                [matTooltipPosition]="'above'">
        description
      </mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="menu">
    <mat-header-cell  class="records-table__menu-column" *matHeaderCellDef></mat-header-cell>
    <mat-cell  class="records-table__menu-column"  *matCellDef="let row">
      <mat-icon class="detail__menu-button"
                [matMenuTriggerFor]="contextMenu"
                (click)="context = row.id; $event.stopPropagation()">
        more_horiz
      </mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
      <button mat-menu-item (click)="onEdit()">Редактировать</button>
      <button mat-menu-item (click)="onDelete()">Удалить</button>
  </ng-template>
</mat-menu>
