<mat-table *ngIf="data.length" [dataSource]="data" class="records-table" [class.records-table--with-borders]="withBorders">
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef class="records-table__cell-id"> № </mat-header-cell>
    <mat-cell class="records-table__cell-id"
              *matCellDef="let row; let i = index">
      {{i + 1}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> {{"RECORDS_TABLE.NAME" | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div class="records-table__cell-text"
           [matTooltip]="row.name"
           [matTooltipPosition]="'above'">
        {{row.name}}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mileage">
    <mat-header-cell *matHeaderCellDef class="records-table__cell-mileage">
      {{"RECORDS_TABLE.MILEAGE" | translate}} 
      ({{ "METRIC_SYSTEM." + (settingsService.settings.units?.metricSystem || MetricSystemEnum[settingsService.settings.region]) | uppercase | translate}})
    </mat-header-cell>
    <mat-cell class="records-table__cell-mileage" *matCellDef="let row">
      <div class="records-table__cell-text"
           [matTooltip]="row.mileage | numberSeparator:this.settingsService.settings.region"
           [matTooltipPosition]="'above'">
        {{row.mileage | numberSeparator:this.settingsService.settings.region}}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef class="records-table__cell-date"> {{"RECORDS_TABLE.DATE" | translate}} </mat-header-cell>
    <mat-cell class="records-table__cell-date" *matCellDef="let row">
      <div class="records-table__cell-text"
           [matTooltip]="row.date | date:dateFormat"
           [matTooltipPosition]="'above'">
        {{row.date | date:dateFormat}}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cost">
    <mat-header-cell *matHeaderCellDef class="records-table__cell-cost">
      {{"RECORDS_TABLE.EXPENSE" | translate}} 
      (<app-currency [currency]="settingsService.settings.units?.currency"
                     [size]="CurrencySizeEnum.Small"
                     [locale]="settingsService.settings.region">
      </app-currency>)
    </mat-header-cell>
    <mat-cell class="records-table__cell-cost" *matCellDef="let row">
      <div class="records-table__cell-text"
           [matTooltip]="row.cost | numberSeparator:this.settingsService.settings.region"
           [matTooltipPosition]="'above'">
        {{row.cost | numberSeparator:this.settingsService.settings.region}}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="notes">
    <mat-header-cell *matHeaderCellDef class="records-table__cell-note"> {{"RECORDS_TABLE.COMMENT" | translate}} </mat-header-cell>
    <mat-cell class="records-table__cell-note" *matCellDef="let row">
      <mat-icon class="records-table__note-icon"
                *ngIf="row.notes"
                [matTooltip]="row.notes"
                [matTooltipPosition]="'above'">
        description
      </mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row class="records-table__header" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row class="records-table__row" *matRowDef="let row; columns: displayedColumns" (contextmenu)="onContextMenu($event, row)">
  </mat-row>
</mat-table>
<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <button class="menu-item" mat-menu-item (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      <span>{{"MENU.EDIT" | translate}}</span>
    </button>
    <div class="mat-menu__divider"></div>
    <button class="menu-item menu-item--delete" mat-menu-item (click)="onDelete()">
      <mat-icon class="mat-item__icon mat-item__icon--delete" svgIcon="delete-rounded"></mat-icon>
      <span>{{"MENU.DELETE" | translate}}</span>
    </button>
  </ng-template>
</mat-menu>
