@import '/src/colors';
@import '/src/fonts';

.widget {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;

  box-sizing: border-box;

  background: $background-primary;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;

  border-radius: 24px;

  user-select: none;

  &__title-section {
    display: flex;
    align-items: center;
    gap: 4px;

    font-family: $font-system;
  }

  &__info {
    height: 15px;
    width: 15px;

    font-size: 15px;
    color: $font-color-secondary;
    cursor: pointer;
  }

  &__actions {
    margin-left: auto;
  }

  &__title {
    display: flex;
    font-weight: 500;
    align-items: center;
    font-size: 14px;
    color: $font-color-secondary;
    gap: 8px;
    margin: 0px;
  }

  &__illustration {
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    color: $color-primary;
    padding: 6px;
    background-color: $color-secondary;
    border-radius: 10px;
  }
}
