<section class="widget">
  @if (title) {
    <div class="widget__title-section">
      <h4 class="widget__title">
        <mat-icon class="widget__illustration" [svgIcon]="icon"></mat-icon>
        {{title}}
      </h4>
      @if (info) {
        <mat-icon class="widget__info"
          [matTooltip]="info">
          info
        </mat-icon>
      }
      <div class="widget__actions">
        <ng-content select="[actions]"></ng-content>
      </div>
    </div>
  }
  <ng-content></ng-content>
</section>