.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .title-section {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    border-top: solid 3px #464445;
    border-bottom: solid 3px #464445;
  }

  .title-section__title {
    font-size: 70px;
    margin-bottom: 12px;
    color: #21322c;
  }

  .title-section__tagline {
    font-size: 35px;
    margin-bottom: 35px;
    color: #3c3a3a;
  }

  .button-section {
    display: flex;
    justify-content: center;
  }

  .button-section__download-button {
    width: 100px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    background-color: #0d7f1e;
    color: #fff;
    border-radius: 8px;
    border: 0;
  }

  .laptop-section {
    position: relative;
    display: inline-block;
  }
  
  .laptop-section__laptop {
    display: block;
  }

  .laptop-section__screen {
    position: absolute;
    width: 555px;
    height: 355px;
    left: 140px;
    top: 30px;
    border-radius: 3px;
  }
  
  .bottom-margin {
    margin-bottom: 20px;
  }
  
  .slider-arrow-container {
    position: absolute;
    width: 605px;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -50%);
  }
  
  .slider-carousel-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slider-carousel-container__button {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 1px solid #777373;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .active,
  .slider-control-container__button:hover {
    background-color: #e95420;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .slider-arrow-container__prev,
  .slider-arrow-container__next {
    cursor: pointer;
    position: relative;
    width: auto;
    padding: 16px 8px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .slider-arrow-container__prev:hover,
  .slider-arrow-container__next:hover {
    border: 1px solid #777373;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  
  
  