@import '/src/colors';
@import '/src/fonts';

.create-record {
  .mat-form-field {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__note {
    height: 128px;
    resize: none;
  }

  .date-picker {
    &__toggle {
      position: absolute;
      top: -34px;
      right: 6px;

      font-size: 20px;
      color: $color-button-icon;
    }
  }

  &__flex-container {
    display: flex;
    justify-content: space-between;

    > * {
      width: 48%;
    }
  }
}