@import '/src/colors';
@import '/src/fonts';

.create-record {
  .mat-form-field {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__note {
    min-height: 128px;
    resize: none;
  }

  &__date-picker::ng-deep {
     .mat-mdc-form-field-icon-suffix {
      padding: 0 4px !important;
    }
  }

  .date-picker {
    &__toggle {
      color: $color-button-icon;
    }
  }

  &__flex-container {
    display: flex;
    justify-content: space-between;

    > * {
      width: 48%;
    }
  }
}