.print-dialog {
  font-family: Ubuntu;
  display: flex;
  height: 100%;
  width: 100%;

  overflow: hidden;
  user-select: none;

  &__title {
    margin-top: 0;
  }

  &__path {
    max-width: 244px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gray;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    &--small {
      padding: 4px 0px;
    }
  }

  ubuntu-container {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__config-section {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__divider {
    margin: 0 24px;
    border-right-color: #ccc;
  }

  &__preview-section {
    width: 50%;
  }

  &__preview {
    width: 100%;
    height: 100%;
  }

  &__content {
    flex-grow: 1;
  }

  &__buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: auto;
  }
}

.columns {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;


  .print-dialog__column-container:last-child {
    .column__divider {
      display: none;
    }
  }
}

.column {
  font-family: Ubuntu;
  padding: 12px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  background: white;
  font-size: 14px;

  &__name {
    width: 100%;
    font-size: 15px;
  }

  &__drag-icon {
    line-height: 20px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    color: gray;
    cursor: move;
  }

  &__divider {
    margin: 0 38px;
  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .column__divider {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column:last-child {
  border: none;
}

.columns.cdk-drop-list-dragging .print-dialog__column-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.button {
  width: 92px;
  font-family: Ubuntu;
  font-weight: normal;
  color: #111;
}

.button__edit {
  width: initial;

  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(196,196,196);
}

.button__submit {
  background-color: #0d7f1e;
  border-color: rgba(0,0,0,0.56);
  color: #fff;
}

.button__cancel {
  background-color: rgb(75, 72, 72);
  border-color: rgb(48,47,47);
  color: #fff;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #e95420 !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: #e95420 !important;
}

::ng-deep .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #b0b0b0 !important;
}