@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.print-dialog {
  font-family: $font-system;
  display: flex;
  height: 100%;
  width: 100%;
  background: white;

  overflow: hidden;
  user-select: none;

  &__border {
    padding: 8px 12px;
    border-radius: 18px;
    border: 1.5px solid #ebebeb;
    position: relative;
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__container-title {
    position: absolute;
    top: -15px;
    left: 18px;
    background: white;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
  }

  &__title {
    margin-top: 0;
    margin-left: 12px;
    color: #222;
    font-size: 18px;
    font-weight: bold;
  }

  &__path {
    max-width: 244px;
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gray;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0 2px 14px
  }

  &__config-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
  }

  &__scroll {
    @include mixins.scrollable;
    height: 100%;
    padding: 16px 0;

    content-container:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__divider {
    margin: 0 12px;
    border-right-color: transparent;
  }

  &__preview-section {
    width: 50%;
  }

  &__preview {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
  }

  &__content {
    flex-grow: 1;
  }

  &__buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: auto;
    padding-top: 24px;

    .button {
      min-width: 128px;
    }
  }


  &__toggle.mat-checked {
    ::ng-deep .mat-slide-toggle-bar {
      background-color: #ff9069;
    }
    ::ng-deep .mat-slide-toggle-thumb {
      background-color: var(--primary-color);
    }
  }

  .mat-button-toggle-checked {
    background: var(--primary-color);
    line-height: initial;
    color: white;
  }

  .mat-button-toggle-label-content {
    line-height: 36px;
    font-size: 14px;
    font-family: $font-system;
  }

  .mat-button-toggle-button {
    width: 104px;
  }
}

.columns {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  display: block;
  border-radius: 8px;
  overflow: hidden;


  .print-dialog__column-container:last-child {
    .column__divider {
      display: none;
    }
  }
}

.column {
  font-family: $font-system;
  padding: 14px 12px 14px 8px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  background: white;
  font-size: 14px;

  &__name {
    width: 100%;
    font-size: 14px;
  }

  &__drag-icon {
    line-height: 20px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    color: $button-color-secondary;
    cursor: move;
  }

  &__divider {
    margin: 0 36px;
    border-top-color: $separator-color;
    border-top: 1.5px dashed #ebebeb;
  }
}


.cdk-drag-preview {
  box-sizing: border-box;

  .column {
    border-radius: 12px;
    border: 1.5px solid $color-primary;
  }

  .column__divider {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column:last-child {
  border: none;
}

.columns.cdk-drop-list-dragging .print-dialog__column-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.button {
  width: 92px;

  border-radius: 8px;
  font-family: $font-system;
  font-weight: normal;
  color: $font-primary;
}

.button__submit {
  background-color: var(--primary-color);
  border-color: transparent;
  color: #fff;
}

.button__cancel {
  background-color: #f1f1f1;
  border-color: transparent;
  color: $font-primary;

  &:hover {
    background: rgba(0,0,0,0.05);
  }
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: var(--primary-color) !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--primary-color) !important;
}

::ng-deep .mat-checkbox .mat-ripple-element {
  border-radius: 12px !important;
}

::ng-deep .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #b0b0b0 !important;
}