<section class="print-dialog">
  <div class="print-dialog__config-section">
    <h3 class="print-dialog__title">{{'PAGES.PDF_EXPORT.TITLE' | translate}}</h3>
    <div class="print-dialog__scroll">
      <content-container [title]="'PAGES.PDF_EXPORT.ORDER_AND_VISIBILITY' | translate">
        <div>
          <div cdkDropList class="columns" (cdkDropListDropped)="drop($event)">
            <div class="print-dialog__column-container" *ngFor="let column of columns" cdkDrag>
              <div class="column">
                <mat-icon class="column__drag-icon" cdkDragHandle>drag_indicator</mat-icon>
                <span class="column__name">{{column.name | translate}}</span>
                <mat-checkbox *ngIf="column.id !== 'name'"
                              [disableRipple]="true"
                              [checked]="column.visible"
                              (change)="column.visible = !column.visible">
                </mat-checkbox>
              </div>
              <mat-divider class="column__divider"></mat-divider>
            </div>
          </div>
        </div>
      </content-container>

      <ubuntu-container *ngIf="false" [title]="'PAGES.PDF_EXPORT.OTHER' | translate">
        <div class="print-dialog__section">
          <span>{{'PAGES.PDF_EXPORT.SHOW_TOTAL_SUM' | translate}}</span>
          <mat-slide-toggle class="print-dialog__toggle"
                            [checked]="config.showTablesCostResult"
                            (change)="config.showTablesCostResult = !config.showTablesCostResult">
          </mat-slide-toggle>
        </div>
      </ubuntu-container>
    </div>

    <div class="print-dialog__buttons">
      <button class="button button__cancel" mat-button (click)="dialogRef.close()">{{'DIALOG.BUTTONS.CANCEL' | translate}}</button>
      <button class="button button__submit" mat-button (click)="onPrint()">{{'DIALOG.BUTTONS.EXPORT' | translate}}</button>
    </div>
  </div>

  <div class="print-dialog__preview-section">
    <div class="print-dialog__preview">
      <app-preview-page #print
                        [config]="config"
                        [data]="data">
      </app-preview-page>
    </div>
  </div>
</section>
