@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.category-details {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__title-container {
    padding: 9px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(50, 48, 48);
  }

  &__title {
    font-family: $font-system;
    font-size: 24px;
    color: white;
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

  &__search-button {
    color: $font-primary;
    border-radius: 8px;
  }

  &__notes {
    padding: 8px;
    height: 98px;
    width: 192px;
    
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    resize: none;

    font-family: $font-system;
  }

  &__export-button {
    min-width: initial;
    padding: 0 8px;

    font-family: $font-system;
    font-weight: normal;
    background-color: rgb(75,72,72);
    border: 1px solid rgb(43,42,42);
    border-radius: 8px;
    color: #fff;
  }

  &__content {
    @include mixins.scrollable;

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    height: 100%;
    position: relative;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .info-section {
    width: fit-content;
    display: flex;
    gap: 16px;
  }

  .car-info {
    margin-top: 4px;

    font-family: $font-system;

    &__raw {
      display: flex;
      margin-bottom: 8px;
    }

    &__raw:last-child {
      margin: 0;
    }

    &__raw-label {
      width: 112px;
      font-weight: bold;
    }

    &__status {
      display: flex;
      align-items: center;

      font-family: $font-system;
      font-size: 18px;
    }

    &__metric-system {
      margin-left: 4px;
    }

    &__content {
      font-family: $font-system;
      font-size: 14px;
    }
  }

  &__table-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    position: sticky;
    top: 0;

    font-size: 18px;
    z-index: 101;
    background-color: #fafafa;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  }

  &__table-actions {
    font-size: 14px;
  }
}