@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.category-details {

  &__expand-button {
    transition: transform 0.2s linear;
    transform: rotate(0deg);

    &--expand {
      transform: rotateX(180deg);
    }
  }

  &__collapse-button {
    transform: rotate(180deg);
  }

  &__notes {
    padding: 8px;
    height: 98px;
    width: 192px;

    border: 2px solid #f2f2f2;
    border-radius: 12px;
    resize: none;

    font-family: $font-system;

    &:focus {
      outline: none !important;
      border: 2px solid var(--primary-color) !important;
    }
  }

  &__table-container {
    display: flex;
    flex-direction: column;

    background: white;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1),
                border-radius 0.1s ease-in;
    overflow: hidden;


    &--border-top {
      border-top-left-radius: 12px !important;
      border-top-right-radius: 12px !important;
    }

    &--border-bottom {
      border-bottom-left-radius: 12px !important;
      border-bottom-right-radius: 12px !important;
    }

    &:first-of-type {
      border-radius: 12px 12px 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 12px 12px;
    }

    &:only-of-type {
      border-radius: 12px;
    }

    &--expand {
      margin: 18px 0;
      border-radius: 12px !important;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__table-content {
    height: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    overflow: visible;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);

    &--show {
      visibility: visible;
    }
  }

  &__table {
    display: block;
    border-radius: 12px;
  }

  &__table-header {
    padding: 8px;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    font-family: $font-system;
  }

  &__panel {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__total {
    display: flex;
    padding: 4px 12px 12px 24px;
    flex-direction: column;
    gap: 4px;
    font-family: $font-system;
    font-size: 14px;
    line-height: 1;
  }

  &__total-text {
    font-size: 12px;
    color: #4b4848;
    margin-right: 8px;
    font-weight: 500;
  }

  &__total-value {
    color: black;
    font-weight: bold;
    display: flex;
  }

  &__table-title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2px;
    padding: 12px 8px 12px 12px;
    height: 38px;

    border-radius: 12px;
    cursor: pointer;

    &:hover {
      background: rgba(0,0,0,0.05);

      .category-details__table-title-icon {
        opacity: 1;
        transform: translateX(2px);
      }
    }
  }

  &__table-title-text {
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
  }

  &__table-title-icon {
    width: 20px;
    height: 20px;
    
    font-size: 20px;
    opacity: 0;
    transform: translateX(0);
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1),
                transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__tables-title {
    font-family: $font-system;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 0 8px 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__tables-title-buttons {
    display: flex;
    gap: 2px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__info-section {
    width: fit-content;
    display: flex;
    gap: 16px;
  }

  .car-info {
    margin-top: 4px;
    font-family: $font-system;

    &__raw {
      display: flex;
      margin-bottom: 8px;
    }

    &__raw:last-child {
      margin: 0;
    }

    &__raw-label {
      width: 112px;
      font-weight: bold;
    }

    &__status {
      display: flex;
      align-items: center;

      font-family: $font-system;
      font-size: 18px;
    }

    &__metric-system {
      margin-left: 4px;
    }

    &__content {
      font-family: $font-system;
      font-size: 14px;
    }
  }

  &__table-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__table-actions {
    font-size: 14px;
  }
}