@use '/src/mixins' as mixins;

.category-details {
  height: 100%;

  &__title-container {
    padding: 4px 32px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(50, 48, 48);
  }

  &__title {
    font-family: Ubuntu;
    font-size: 24px;
    color: white;
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

  &__add-button {
    min-width: initial;
    padding: 0 8px;

    font-family: Ubuntu;
    font-weight: normal;
    background-color: rgb(75,72,72);
    border: 1px solid rgb(43,42,42);
    color: #fff;
  }

  &__link {
    color: #222;
    text-decoration: none;

    &:hover {
      color: black;
      .category-details__link-icon {
        font-size: 20px;
      }
    }
  }

  &__link-icon {
    font-size: 18px;
    transition: font-size 0.2s linear;
  }

  &__scroll-fix {
    height: 16px;
    width: 100%;
    background-color: #fafafa;
    z-index: 101;
  }

  &__content {
    @include mixins.scrollable;

    padding: 0px 32px 32px 32px;
    height: calc(100% - 122px);
    position: relative;
  }

  &__table {
    margin-bottom: 32px;
  }

  &__table-title {
    padding: 16px 0;
    margin-bottom: 24px;
    position: sticky;
    top: 0;

    font-size: 24px;
    z-index: 101;
    background-color: #fafafa;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  }
}
