@import '/src/colors';

:host {
  display: flex;
  align-items: center;
}

.currency {
  display: flex;
  align-items: center;
  gap: 4px;

  color: $font-color-primary;

  &__value {
    text-wrap: nowrap;
  }

  &__icon {
    height: 14px;
    width: 14px;
    padding: 2px;
  
    border-radius: 6px;
    background: $color-border;
    color: $font-color-primary;
    font-size: 14px;
    font-variation-settings: 'wght' 900;
    line-height: 1;
  
    &--small {
      height: 14px;
      width: 14px;
  
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__image {
    height: 10px;
  }
}

.currency-text {
  margin-left: 4px;

  &--small {
    font-size: inherit;
    margin-left: initial;
  }
}