<ng-container *ngIf="(currency && currency !== CurrencyEnum.Byn) || (!currency && locale !== LocaleEnum.By); else currencyText">
  <mat-icon [ngClass]="{
    'currency': true,
    'currency--small': size === CurrencySizeEnum.Small
  }" 
  *ngIf="renderAs === CurrencyRenderEnum.Svg"
  >
    {{currency | currency:locale}}
  </mat-icon>

  <img class="currency__image"
       *ngIf="renderAs === CurrencyRenderEnum.Image"
       [src]="domSanitizer.bypassSecurityTrustUrl('data:image/svg+xml;base64, ' + CurrencyBase64Enum[currency | currency:locale])">
</ng-container>

<ng-template #currencyText>
  <span [ngClass]="{
    'currency-text': true,
    'currency-text--small': size === CurrencySizeEnum.Small
  }" >BYN</span>
</ng-template>
