:host {
  display: flex;
  align-items: center;
}

.currency {
  height: 14px;
  width: 14px;
  padding: 2px;
  margin-left: 6px;

  border-radius: 6px;
  background: #4b4848;
  color: white;
  font-size: 14px;
  font-variation-settings: 'wght' 900;

  &--small {
    height: 14px;
    width: 14px;

    font-size: 14px;
    font-weight: bold;
  }

  &__image {
    height: 10px;
  }
}

.currency-text {
  margin-left: 4px;

  &--small {
    font-size: inherit;
    margin-left: initial;
  }
}