<ng-container *ngIf="currency else currencyText">
  <mat-icon [ngClass]="{
    'currency': true,
    'currency--small': size === CurrencySizeEnum.Small
  }" 
  [svgIcon]="'currencies:' + (currency | currency)"
  *ngIf="renderAs === CurrencyRenderEnum.Svg"
  >
  </mat-icon>
  <img class="currency__image"
       *ngIf="renderAs === CurrencyRenderEnum.Image"
       [src]="currencyBase64SafeUrl">
</ng-container>

<ng-template #currencyText>
  <span [ngClass]="{
    'currency-text': true,
    'currency-text--small': size === CurrencySizeEnum.Small
  }" >BYN</span>
</ng-template>
