:host {
  display: block;
  padding: 12px 0;

  overflow-y: overlay;

  &:hover::-webkit-scrollbar-thumb {
    background-color: #cdcdcdb3;
    transition: background-color 0.1s ease-in;
  }
}

.categories-tree {
  padding-inline-start: 0px;
}