<section class="dialog">
  <header class="dialog__header" [class.dialog__header--border]="contentScrolled">
    <div class="dialog__title">{{title}}</div>
    <div class="dialog__buttons">
      <app-button *ngIf="canChangeSize" button-transparent (click)="onSwitchSize()">
        <mat-icon>{{size === 'compact' ? 'open_in_full' : 'close_fullscreen'}}</mat-icon>
      </app-button>
      <app-button button-transparent (click)="onClose()">
        <mat-icon>close</mat-icon>
      </app-button>
    </div>
  </header>
  <main class="dialog__content" (scroll)="onScroll($event)">
    <ng-content select="[content]"></ng-content>
  </main>
  <footer *ngIf="!hideFooter" class="dialog__footer">
    <button class="button button__cancel"
            mat-button
            (click)="onClose()">
      {{"DIALOG.BUTTONS.CANCEL" | translate}}
    </button>
    <button class="button button__submit"
            mat-button
            (click)="onSubmit()">
      {{(mode === FormModeEnum.Create ? "DIALOG.BUTTONS.ADD" : "DIALOG.BUTTONS.EDIT") | translate}}
    </button>
  </footer>
</section>
