@use '/src/mixins' as mixins;

@import '/src/colors';
@import '/src/fonts';

:host {
  height: 100%;
}

.dialog {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;

  font-family: $font-system;
  user-select: none;

  &__header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: box-shadow 0.2s ease-in;
    z-index: 1;

    &--border {
      box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
    }
  }

  &__title {
    margin-left: 12px;

    color: $font-primary;
    font-size: 18px;
    font-weight: bold;
  }

  &__content {
    @include mixins.scrollable;
    padding: 8px 24px;
    height: 100%;
  }

  &__footer {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 0 24px;
  }
}

.button {
  min-width: 128px;

  font-family: $font-system;
  font-weight: normal;
  color: $font-primary;
  border-radius: 12px;
}

.button__submit {
  background-color: var(--primary-color);
  border-color: transparent;
  color: #fff;
}

.button__cancel {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: $font-primary;
}