.settings {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  user-select: none;
  font-family: 'Ubuntu';

  &__text {
    margin-right: 12px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__header {
    height: 50px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(50, 48, 48);
  }

  &__header-text {
    color: white;
  }

  &__button-container {
    width: 28px;

    &:first-child {
      margin-right: auto;
    }

    &:last-child {
      margin-left: auto;
    }
  }

  &__content {
    height: 100%;
    padding: 32px;
    overflow: auto;

    background: rgb(247, 247, 247);

    ubuntu-container {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  &__item-label {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 8px;
    }
  }

  &__item-container {
    width: 70%;
  }

  &__item-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__multi-item-field-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__item-field--disable {
    color: gray;
  }

  &__toggle.mat-checked {
    .mat-slide-toggle-bar {
      background-color: #ff9069;
    }
    .mat-slide-toggle-thumb {
      background-color: #e95420;
    }
  }

  .button {
    padding: 0 12px;
    min-width: initial;

    font-family: Ubuntu;
    font-weight: normal;
    color: #111;
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(196,196,196);
  }

  .mat-button-toggle-checked {
    background: #e95420;
    line-height: initial;
    color: white;
  }

  .mat-button-toggle-label-content {
    line-height: 36px;
    font-size: 14px;
    font-family: Ubuntu;
  }

  .mat-button-toggle-button {
    width: 104px;
  }
}