<div class="settings">
  <app-dialog [title]="'PAGES.SETTINGS.TITLE' | translate"
              [hideFooter]="true"
              [sideMenuButton]="sidenavMode() === 'over'"
              (close)="dialogRef.close()"
              (sideButtonClick)="toggleSideNav()"
  >
    <ng-container content>
      <mat-sidenav-container #sidenavContainer class="content" autosize>
        <mat-sidenav #sidenav [mode]="sidenavMode()"
                     class="settings__sidenav"
        >
        <div class="settings__sidebar">
          @for (group of settingsGroups(); track $index) {
            <div class="settings__group"
                 matRipple
                 [class.settings__group--selected]="selectedSettingsGroup() === group.page"
                 [class.settings__group--bottom]="group.isBottom"
                 (click)="selectGroup(group.page)">
              <mat-icon class="settings__group-icon">{{group.icon}}</mat-icon>
              <span cmTextBody="b1">{{group.name | translate}}</span>
            </div>
          }
        </div>
        </mat-sidenav>
      
        <mat-sidenav-content class="settings__sidenav-content">
          @if (sidenavMode() === 'over') {
            <div cmTextHeader="h3" class="settings__group-title">
              {{pageTitle() | translate}}
            </div>
          }
          <div class="settings__sidenav-container">
            <div class="settings__sidenav-wrapper">
              @switch (selectedSettingsGroup()) {
                @case ('common') {
                  <cm-common-settings-page/>
                }
                @case ('currency') {
                  <cm-currency-settings-page [currencyOptions]="currencyOptions$$()"/>
                }
                @case ('units') {
                  <cm-units-settings-page
                    [region]="settingsService.settings.region"
                    [metricSystem]="settingsService.settings.units?.metricSystem"
                  />
                }
                @case ('language') {
                  <cm-language-settings-page
                    [languageOptions]="languageOptions"
                    [regionOptions]="regionOptions"
                  />
                }
                @case ('appearance') {
                  <cm-appearance-settings-page [colors]="colors"/>
                }
                @case ('contact') {
                  <cm-contacts-settings-page/>
                }
                @case ('about') {
                  <cm-about-settings-page/>
                }
              }
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </ng-container>
  </app-dialog>
</div>
