@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.settings {
  height: 100%;
  overflow: hidden;

  user-select: none;
  font-family: $font-system;

  content-container:not(:last-child) {
    margin-bottom: 32px;
  }

  &__text {
    margin-right: 12px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__toggle-group {
    border-radius: 12px !important;
  }

  &__item {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px; 
  }

  &__item-label {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 8px;
    }
  }

  &__item-container {
    width: 66%;
  }

  &__item-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    font-size: 14px;

    &--select {
      width: 216px;

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }

    &--currency {
      width: 216px;

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  &__multi-item-field-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__item-field--disable {
    color: $font-color-secondary;
  }

  &__divider {
    border-top-width: 1.5px !important;
    margin: 8px 26px 8px 18px !important;
  }

  &__currency-preview {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__currency-icon {
    position: absolute;
    width: 19px;
    height: 20px;

    color: currentColor;
  }

  &__currency-name {
    margin-left: 24px;
  }

  &__currency-option {
    display: flex;
    align-items: center;
  }

  &__currency-option-icon {
    height: 19px;
    width: 20px;
    margin-right: 8px !important;
  }

  .mat-button-toggle-checked {
    background: $color-primary !important;
    line-height: initial;
    color: $toggle-active-color !important;
  }

  .mat-button-toggle-label-content {
    line-height: 36px;
    font-size: 14px;
    font-family: $font-system;
  }

  .mat-form-field-wrapper {
    width: 100%;
  }

  .mat-button-toggle-button {
    width: 104px;
  }

  .mat-button-toggle-appearance-standard {
    color: $font-color-secondary;
    background-color: transparent;
  }

  .mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
    border-left: solid 1.5px $color-border;
  }

  .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border-color: $color-border;
    border-width: 1.5px;
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 42px;
  }
}

.mat-form-field.mat-focused {
  .mat-select-arrow {
    color: rgba(0,0,0,.54) !important;
  }

  .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: var(--primary-color);
  }
}

.mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--primary-color) !important;
}

.mat-form-field-invalid {
  .mat-form-field-ripple {
    background: $color-dangerous !important;
  }
}

.mat-divider {
  border-top-color: $color-border;
}

.appearance {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 0;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    cursor: pointer;

    &--selected {
      .appearance__illustration {
        border: 2px solid $color-primary;
      }

      .appearance__label {
        color: $font-color-primary;
      }
    }
  }

  &__label {
    font-family: $font-system;
    color: $font-color-secondary;
    font-size: 14px;
  }

  &__illustration {
    box-sizing: border-box;
    border: 2px solid $color-border;

    height: 64px;
    width: 92px;
    border-radius: 12px;

    &--light {
      background-color: white;
    }

    &--dark {
      background-color: #2b2b2b;
    }

    &--auto {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        background-color: white;
      }
      &:after {
        position: absolute;
        content: '';
        width: 50%;
        right: 0;
        height: 100%;
        background-color: #2b2b2b;
      }
    }
  }
}

.cm-select {
  border-radius: 12px !important;
  margin: 8px 0;
  background-color: $background-secondary;
  padding: 8px !important;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .mdc-list-item--selected {
    color: $color-primary;
  }

  .mdc-list-item__primary-text {
    letter-spacing: 0;
  }
}