<div class="settings">
  <app-dialog [title]="'PAGES.SETTINGS.TITLE' | translate"
              [hideFooter]="true"
              (close)="dialogRef.close()"
  >
    <ng-container content>
      <content-container [title]="'PAGES.SETTINGS.SECTIONS.COMMON' | translate">
        <app-setting [label]="'PAGES.SETTINGS.FIELDS.DATABASE_PATH' | translate" icon="storage">
          <div class="settings__item-field settings__item-field--disable">
            <span class="settings__text"
                  [matTooltipClass]="'mat-tooltip--long-text'"
                  [matTooltip]="this.settingsService.settings.databasePath">
              {{this.settingsService.settings.databasePath}}
            </span>
            <app-button button-transparent (click)="onDatabaseChange()">
              <mat-icon svgIcon="edit"></mat-icon>
            </app-button>
          </div>
        </app-setting>

        <app-setting *ngIf="false" [label]="'PAGES.SETTINGS.FIELDS.FIRST_TAB' | translate" icon="tab">
          <mat-button-toggle-group class="settings__toggle-group"
                                   [value]="this.settingsService.settings.firstTab"
                                   (change)="onFirstTabChanged($event.value)">
            <mat-button-toggle [value]="NavigationTabEnum.Categories">
              {{"PAGES.SETTINGS.BUTTONS.CATEGORIES" | translate}}
            </mat-button-toggle>
            <mat-button-toggle [value]="NavigationTabEnum.Cars">
              {{"PAGES.SETTINGS.BUTTONS.CARS" | translate}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </app-setting>
      </content-container>

      <content-container [title]="'PAGES.SETTINGS.SECTIONS.LANG' | translate">
        <app-setting [label]="'PAGES.SETTINGS.FIELDS.LANG' | translate" icon="language">
          <mat-form-field class="settings__item-field settings__item-field--select">
            <mat-select [value]="settingsService.settings.language" (valueChange)="onSelectLanguage($event)">
              <mat-option *ngFor="let language of languageOptions" [value]="language.value">
                {{ language.name }}
              </mat-option>
            </mat-select>
            <mat-icon svgIcon="expand" class="mat-select__expand-icon"></mat-icon>
          </mat-form-field>
        </app-setting>

        <mat-divider class="settings__divider"></mat-divider>

        <app-setting [label]="'PAGES.SETTINGS.FIELDS.REGION' | translate" icon="text_format">
          <mat-form-field class="settings__item-field settings__item-field--select">
            <mat-select [value]="settingsService.settings.region" (valueChange)="onSelectRegion($event)">
              <mat-option *ngFor="let region of regionOptions" [value]="region.value">
                {{ region.name }}
              </mat-option>
            </mat-select>
            <mat-icon svgIcon="expand" class="mat-select__expand-icon"></mat-icon>
          </mat-form-field>
        </app-setting>
      </content-container>

      <content-container [title]="'PAGES.SETTINGS.SECTIONS.UNITS' | translate">
        <app-setting [label]="'PAGES.SETTINGS.FIELDS.METRIC_SYSTEM' | translate" icon="straighten">
          <mat-button-toggle-group class="settings__toggle-group"
                                   [value]="MetricSystemEnum[settingsService.settings.units?.metricSystem] || MetricSystemEnum[settingsService.settings.region]"
                                   (change)="onMetricSystemChanged($event.value)">
            <mat-button-toggle [value]="MetricSystemEnum.Mi">
              {{"METRIC_SYSTEM.MILES" | translate}}
            </mat-button-toggle>
            <mat-button-toggle [value]="MetricSystemEnum.Km">
              {{"METRIC_SYSTEM.KILOMETERS" | translate}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </app-setting>

        <mat-divider class="settings__divider"></mat-divider>

        <app-setting [label]="'PAGES.SETTINGS.FIELDS.CURRENCY' | translate" icon="attach_money">
          <mat-form-field class="settings__item-field settings__item-field--select">
            <mat-select (valueChange)="onSelectCurrency($event)"
                        [value]="CurrencyEnum[settingsService.settings.units?.currency] || CurrencyEnum[settingsService.settings.region]">
              <mat-option *ngFor="let currency of currencyOptions" [value]="currency.value">
                {{ currency.name | translate }}
              </mat-option>
            </mat-select>
            <mat-icon svgIcon="expand" class="mat-select__expand-icon"></mat-icon>
          </mat-form-field>
        </app-setting>
      </content-container>

      <content-container [title]="'PAGES.SETTINGS.SECTIONS.APPEARANCE' | translate">
        <app-setting [label]="'PAGES.SETTINGS.FIELDS.COLORS' | translate" icon="palette">
          <app-color-selector [colors]="colors"
                              [selected]="settingsService.settings.appearance.primaryColor"
                              (select)="onSelectColor($event)">
          </app-color-selector>
        </app-setting>

        <mat-divider class="settings__divider"></mat-divider>

        <app-setting [label]="'PAGES.SETTINGS.FIELDS.ICONS' | translate" icon="category">
          <div class="settings__item-field settings__item-field--disable">
            {{"PAGES.SETTINGS.ICONS_PACK_NAMES.DEFAULT" | translate}}
          </div>
        </app-setting>

        <mat-divider class="settings__divider"></mat-divider>

        <app-setting [label]="'PAGES.SETTINGS.FIELDS.ANIMATION' | translate" icon="animation">
          <app-switch [value]="settingsService.settings.appearance.animations"
                      (change)="onAnimationsChanged($event)">
          </app-switch>
        </app-setting>
      </content-container>
    </ng-container>
  </app-dialog>
</div>
