<div class="categories-tree-node">
  <div style="visibility: hidden; position: fixed"
       [style.left]="contextMenuPosition.x"
       [style.top]="contextMenuPosition.y"
       [matMenuTriggerFor]="contextMenu">
  </div>
  <div matRipple class="categories-tree-node__content"
       [class.categories-tree-node__content--select]="selected === child.id"
       (click)="onSelect()"
       (contextmenu)="onContextMenu($event)">
    <div class="categories-tree-node__icon-container" *ngIf="!isSubNode">
      <img class="categories-tree-node__icon"
            [class.categories-tree-node__icon--mono]="settingsService.settings.appearance.type === IconTypeEnum.Mono"
            [src]="iconsPath + (child.illustration || 'wrench.svg')">
    </div>
    <span class="categories-tree-node__name">
      {{child.name}}
    </span>
    <div class="categories-tree-node__expand-button-container">
      <mat-icon class="categories-tree-node__expand-button"
                [class.categories-tree-node__expand-button--expanded]="expand"
                *ngIf="child.children?.length"
                (click)="expand = !expand; $event.stopPropagation()">
        expand_more
      </mat-icon>
    </div>
  </div>
  <ng-container>
    <div class="categories-tree-node__sub-node"
        [class.categories-tree-node__sub-node--expanded]="expand"
        [style.height]="expand ? (child.children.length * 46) + 'px' : 0">
      <div class="categories-tree-node__displacer">
        <app-category-tree-displacer *ngFor="let c of child.children"></app-category-tree-displacer>
      </div>
      <div class="categories-tree-node__sub-node-item">
        <app-categories-tree-node *ngFor="let c of child.children"
                                  [selected]="selected"
                                  [isSubNode]="true"
                                  [child]="c"
                                  (edit)="onEdit(c)"
                                  (select)="onSelect(c)"
                                  (delete)="onDelete(c)">
        </app-categories-tree-node>
      </div>
    </div>
  </ng-container>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
      <button class="menu-item" mat-menu-item *ngIf="!child.parent" (click)="onAdd()">
        <mat-icon class="mat-item__icon mat-item__icon--add" svgIcon="add-new"></mat-icon>
        <span>{{"MENU.ADD" | translate}}</span>
      </button>
      <button class="menu-item" mat-menu-item (click)="onEdit()">
        <mat-icon svgIcon="edit-new"></mat-icon>
        <span>{{"MENU.EDIT" | translate}}</span>
      </button>
      <div class="mat-menu__divider"></div>
      <button class="menu-item menu-item--delete" mat-menu-item (click)="onDelete()">
        <mat-icon class="mat-item__icon mat-item__icon--delete" svgIcon="trash-new"></mat-icon>
        <span>{{"MENU.DELETE" | translate}}</span>
      </button>
  </ng-template>
</mat-menu>
