<li class="categories-tree-node">
  <div class="categories-tree-node__content"
       [class.categories-tree-node__content--select]="selected === child.id"
       (click)="onSelect()">
    <div class="categories-tree-node__expand-button-container">
      <mat-icon class="categories-tree-node__expand-button"
                [class.categories-tree-node__expand-button--expanded]="expand"
                *ngIf="child.children?.length"
                (click)="expand = !expand; $event.stopPropagation()">
        chevron_right
      </mat-icon>
    </div>
    <div class="categories-tree-node__icon-container">
      <img class="categories-tree-node__icon"
           [class.categories-tree-node__icon--mono]="settingsService.settings.appearance.type === IconTypeEnum.Mono"
           *ngIf="!isSubNode"
           [src]="iconsPath + (child.illustration || 'wrench.svg')">
    </div>
    <span class="categories-tree-node__name">
      {{child.name}}
    </span>
    <mat-icon class="menu-button" [matMenuTriggerFor]="contextMenu" (click)="$event.stopPropagation()">more_horiz</mat-icon>
  </div>
  <ng-container>
    <ul class="categories-tree-node__sub-node"
        [class.categories-tree-node__sub-node--expanded]="expand"
        [style.height]="expand ? child.children.length * 50 + 'px' : 0">
      <app-categories-tree-node *ngFor="let c of child.children"
                                [selected]="selected"
                                [isSubNode]="true"
                                [child]="c"
                                (edit)="onEdit(c)"
                                (select)="onSelect(c)"
                                (delete)="onDelete(c)">
      </app-categories-tree-node>
    </ul>
  </ng-container>
</li>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
      <button class="menu-item" mat-menu-item *ngIf="!child.parent" (click)="onAdd()">
        <span>{{"MENU.ADD" | translate}}</span>
      </button>
      <button class="menu-item" mat-menu-item (click)="onEdit()">
        <span>{{"MENU.EDIT" | translate}}</span>
      </button>
      <button class="menu-item" mat-menu-item (click)="onDelete()">
        <span>{{"MENU.DELETE" | translate}}</span>
      </button>
  </ng-template>
</mat-menu>
