@import '/src/colors';

:host {
  display: block;
}

.categories-tree-node {
  font-family: 'Ubuntu';
  width: 100%;
  margin: 1px 0;

  list-style: none;

  &__sub-node {
    margin: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 0.2s ease-out;

    &--expanded {
      visibility: visible;
    }
  }

  &__icon-container {
    display: flex;
    align-items: center;
    width: 22px;
    margin-right: 8px;
  }

  &__name {
    max-width: 180px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__icon {
    width: 22px;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 16px;

    color: rgba(0,0,0,.87);
    cursor: pointer;
    line-height: 1.5rem;
    transition: background-color 0.1s linear;

    &:hover {
      color: $font-primary;
      background: rgba(0,0,0,0.05);
    }

    &:hover> .menu-button {
      visibility: visible;
    }

    &--select {
      color: white;
      background: rgb(233,84,32);
    }

    &--select:hover {
      color: white;
      background: rgb(216, 82, 35);

      > .menu-button {
        color: white;
      }
    }
  }

  &__expand-button-container {
    display: flex;
    align-items: center;
    width: 24px;
    margin-right: 8px;
  }

  &__expand-button {
    user-select: none;
    transition: transform 0.2s ease-out;
    transform: rotate(0deg);

    &--expanded {
      transform: rotate(90deg);
    }
  }

  .menu-button {
    visibility: hidden;
    margin-left: auto;
    color: $font-primary;
  }
}

.categories-tree-node__content--select {
  .categories-tree-node__icon--mono {
    filter: invert(1);
  }
}