@import '/src/colors';
@import '/src/fonts';

:host {
  display: block;
}

.categories-tree-node {
  font-family: $font-system;
  width: 100%;
  margin: 1px 0;

  list-style: none;

  &__sub-node {
    margin: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 0.2s ease-out;

    &--expanded {
      visibility: visible;
    }
  }

  &__icon-container {
    display: flex;
    align-items: center;
    width: 22px;
    margin: 0px 4px;
  }

  &__name {
    max-width: 208px;

    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__icon {
    width: 18px;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 8px;

    color: $font-primary;
    cursor: pointer;
    border-radius: 8px;
    line-height: 1.5rem;
    transition: background-color 0.1s ease-out;

    &:hover {
      background: rgba(0,0,0,0.05);
    }

    &--select {
      color: white;
      background: var(--primary-color);
    }

    &--select:hover {
      color: white;
      background: var(--primary-color);
    }
  }

  &__expand-button-container {
    display: flex;
    align-items: center;
    height: 22px;
    width: 22px;
    margin-left: auto;
  }

  &__expand-button {
    height: 22px;
    width: 22px;

    font-size: 22px;
    user-select: none;
    transition: transform 0.2s ease-out;
    transform: rotate(0deg);

    &--expanded {
      transform: rotate(90deg);
    }
  }
}

.categories-tree-node__content--select {
  .categories-tree-node__icon--mono {
    filter: invert(1);
  }
}