@import '/src/colors';
@import '/src/fonts';

:host {
  display: block;
}

.categories-tree-node {
  font-family: $font-system;
  width: 100%;

  list-style: none;

  &__sub-node {
    display: flex;

    visibility: hidden;
    overflow: hidden;
    transition: height 0.2s ease-out;

    &--expanded {
      visibility: visible;
    }
  }

  &__sub-node-item {
    padding: 4px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__icon-container {
    display: flex;
    align-items: center;
    width: 22px;
    margin: 0px 4px;
  }

  &__name {
    max-width: 208px;

    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: transform 0.2s ease-in;
  }

  &__icon {
    width: 18px;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0 8px;

    color: $font-primary;
    cursor: pointer;
    border-radius: 12px;
    line-height: 1.5rem;
    transition: background-color 0.1s ease-out;

    &:hover {
      background: rgba(0,0,0,0.05);
    }

    &--select {
      color: white;
      background: var(--primary-color);

      .categories-tree-node__name {
        transform: translate(4px);
      }
    }

    &--select:hover {
      color: white;
      background: var(--primary-color);
    }
  }

  &__expand-button-container {
    display: flex;
    align-items: center;
    height: 24px;
    width: 24px;
    margin-left: auto;
  }

  &__expand-button {
    user-select: none;
    transition: transform 0.2s linear;
    transform: rotate(0deg);

    &--expanded {
      transform: rotateX(180deg);
    }
  }
}

.categories-tree-node__content--select {
  .categories-tree-node__icon--mono {
    filter: invert(1);
  }
}