<div class="detail">
  <div class="detail__title-container">
    <div class="detail__title">
      {{name}}
    </div>
    <div class="detail__stat-panel">
      <div class="stat-panel__row">
        <span class="stat-panel__label">Последнее изменение: </span> <span>{{dataSourceTable[0]?.date | date:'d MMM, y'}}</span>
      </div>
      <div>
        <span class="stat-panel__label">Общий расход: </span><span>{{costSum}} BYN</span>
      </div>
    </div>
    <button class="detail__add-button" mat-button (click)="onCreateRecord()">Добавить</button>
  </div>
  <div class="detail__content">
    <app-records-table [data]="dataSourceTable"
                       [stretch]="true"
                       (edit)="onEdit($event)"
                       (delete)="onDelete($event)">
    </app-records-table>
    <div *ngIf="!dataSourceTable.length" class="detail__empty">
      <mat-icon class="detail__empty-text">content_paste</mat-icon>Записи отсутствуют.
    </div>
  </div>
</div>
