@use "/src/mixins" as mixins;
@import '/src/colors';
@import '/src/fonts';

.detail {
  &__table {
    flex: 1;
    overflow: hidden;
  }

  &__empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: $font-system;
    font-weight: normal;
    font-size: 32px;
    color: $font-color-secondary;
  }

  &__empty-text {
    font-size: 128px;
    width: auto;
    height: auto;
    color: #333;
  }

  &__cards {
    display: flex;
    gap: 16px;
  }
}