@import '/src/colors';

:host {
  display: block;
  height: 46px;
}

.displacer {
  height: 100%;
  width: 32px;
  display: flex;
  justify-content: center;
  gap: 1px;

  &__line {
    position: relative;
    height: 100%;
    width: 2px;
    margin-left: 5px;

    background: $color-border;
  }

  &__sub-line {
    position: absolute;
    top: 13px;
    height: 12px;
    width: 12px;

    border-bottom-left-radius: 8px;
    border-left: 2px solid $color-border;
    border-bottom: 2px solid $color-border;
  }
}

:host:last-child {
  .displacer__line {
    height: 36%;
    align-items: flex-start;
  }
}