@import '/src/fonts';
@import '/src/colors';

.database-select {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    margin-bottom: 16px;

    font-family: system-ui;
    font-size: 18px;
    color: #333;
  }

  &__buttons {
    width: 192px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}


button {
  background: none;
}

.button {
  height: 42px;
  width: 100%;

  font-family: $font-system;
  font-weight: normal;
  color: $font-color-primary;
  border-radius: 12px;
}

.button__create {
  background-color: $color-primary;
  color: $font-color-primary;
}

.button__cancel {
  &:hover {
    background: $background-button-hover;
  }
}
