@import '/src/fonts';

.database-select {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    margin-bottom: 16px;

    font-family: system-ui;
    font-size: 18px;
    color: #333;
  }
}


button {
  background: none;
}

.button {
  padding: 4px 48px;

  font-family: $font-system;
  font-weight: normal;
  font-size: 18px;
  color: #333;
  background-color: #c5c5c5;
}

.button__create {
  margin-right: 8px;
  background-color: #0d7f1e;
  border-color: rgba(0,0,0,0.56);
  color: #fff;
}
