<div class="navigation"
     [class.navigation--minimize]="(sideNavService.collapse$ | async)">
  <div class="navigation__title-container">
    <button class="button button__create" mat-button (click)="addCategory()">
      <mat-icon>add</mat-icon>
    </button>

    <button class="button button__create" mat-button [matMenuTriggerFor]="contextMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <app-categories-tree [catagories]="categories"
                      (add)="addCategory($event)"
                      (edit)="onEdit($event)"
                      (select)="onSelectCategory($event)"
                      (delete)="onDelete($event)">
  </app-categories-tree>

  <div class="navigation__buttons">
    <button mat-button class="button" appSideNavTracker>
      <mat-icon class=" button__switcher-icon">chevron_left</mat-icon>
    </button>
  </div>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
      <button class="menu-item" mat-menu-item (click)="openSettings()">
        <span>{{"MENU.SETTINGS" | translate}}</span>
      </button>
      <!--TODO: Uncomment when rewrite feedbacks -->
      <!-- <button class="menu-item" mat-menu-item (click)="onFeedback()">
        <span>{{"MENU.FEEDBACK" | translate}}</span>
      </button> -->
      <button class="menu-item" mat-menu-item (click)="openReleaseNotes()">
        <span>{{"MENU.WHATS_NEW" | translate}}</span>
      </button>
      <button class="menu-item" mat-menu-item (click)="openRepository()">
        <span>{{"MENU.GITHUB" | translate}}</span>
      </button>
  </ng-template>
</mat-menu>

