<div class="navigation">
  <div class="navigation__title-container">
    <app-button button-primary (click)="onAdd(selectedTabIndex)">
      <mat-icon svgIcon="add"></mat-icon>
      <span>{{(selectedTabIndex ? "MENU.CAR" : "MENU.CATEGORY" ) | translate}}</span>
    </app-button>
  </div>
  <app-tabs [tabs]="tabs" (selectedTabIndex)="onSelectTab($event)">
    <app-categories-tree tab-1 [catagories]="fitlerCategoriesByType(categories, CategoryTypeEnum.Category)"
                              (add)="addCategory($event)"
                              (edit)="onEdit($event)"
                              (delete)="onDelete($event)">
    </app-categories-tree>

    <app-categories-tree tab-2 [catagories]="fitlerCategoriesByType(categories, CategoryTypeEnum.Car)"
                              (add)="addCategory($event)"
                              (edit)="$event.type === CategoryTypeEnum.Car ? onEditCarCategory($event.id) : onEdit($event)"
                              (delete)="onDelete($event)">
    </app-categories-tree>
  </app-tabs>
</div>