@import '/src/colors';
@import '/src/fonts';

.navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  user-select: none;
  transition: background-color 0.25s ease-in;

  &__title-container {
    box-sizing: border-box;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(50, 48, 48);
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding: 4px 10px;

    border-top: 1px solid rgba(0,0,0,0.1);
  }

  .switcher-icon {
    transition: transform 0.2s ease-in;
  }

  app-tabs {
    flex-grow: 1;

    transition: opacity 0.15s ease-in 0.15s;
  }

  &--minimize {
    background-color: #323030;
    transition: background-color 0.25s ease-out;

    app-tabs{
      opacity: 0;
      transition: opacity 0s;
      z-index: -1;
    }

    .navigation__title-container {
      flex-wrap: wrap-reverse;
      gap: 8px;
    }

    .switcher-icon {
      transform: rotate(180deg);
      color: white;
    }
  }
}

.menu-item__github-icon {
  height: 18px !important;
  fill: $font-secondary;
}