.navigation {
  height: 100%;
  overflow: hidden;

  &__title-container {
    padding: 0 16px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: start;

    background-color: #262626;
  }

  button {
    background: none;
  }

  .button {
    font-family: Ubuntu;
    font-weight: normal;
    color: #111;
  }

  .button__create {
    margin-right: 8px;
    background-color: #0d7f1e;
    border-color: rgba(0,0,0,0.56);
    color: #fff;
  }
}