<div class="navigation"
     [class.navigation--minimize]="(sideNavService.collapse$ | async)">
  <div class="navigation__title-container">
    <app-button button-common [matMenuTriggerFor]="creationMenu">
      <mat-icon [svgIcon]="'add-rounded'"></mat-icon>
    </app-button>

    <app-button button-common
                [matMenuTriggerFor]="creationMenu"
                matBadge="!"
                [matMenuTriggerFor]="contextMenu"
                [matBadgeHidden]="!versionService.hasUpdate"
                matBadgeSize="small">
      <mat-icon [svgIcon]="'menu-rounded'"></mat-icon>
    </app-button>
  </div>
  <app-tabs [tabs]="tabs">
    <app-categories-tree tab-1 [catagories]="fitlerCategoriesByType(categories, CategoryTypeEnum.Category)"
                              [selected]="selected"
                              (add)="addCategory($event)"
                              (edit)="onEdit($event)"
                              (select)="onSelectCategory($event)"
                              (delete)="onDelete($event)">
    </app-categories-tree>

    <app-categories-tree tab-2 [catagories]="fitlerCategoriesByType(categories, CategoryTypeEnum.Car)"
                              [selected]="selected"
                              (add)="addCategory($event)"
                              (edit)="$event.type === CategoryTypeEnum.Car ? onEditCarCategory($event.id) : onEdit($event)"
                              (select)="onSelectCategory($event)"
                              (delete)="onDelete($event)">
    </app-categories-tree>
  </app-tabs>

  <div class="navigation__buttons">
    <app-button button-transparent appSideNavTracker>
      <mat-icon class="switcher-icon">chevron_left</mat-icon>
    </app-button>
  </div>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
      <button class="menu-item rotate" mat-menu-item (click)="openSettings()">
        <mat-icon class="mat-item__icon mat-item__icon--rotate">settings</mat-icon>
        <span>{{"MENU.SETTINGS" | translate}}</span>
      </button>
      <div class="mat-menu__divider"></div>
      <!--TODO: Uncomment when rewrite feedbacks -->
      <!-- <button class="menu-item" mat-menu-item (click)="onFeedback()">
        <span>{{"MENU.FEEDBACK" | translate}}</span>
      </button> -->
      <button class="menu-item" mat-menu-item (click)="openReleaseNotes()">
        <mat-icon>newspaper</mat-icon>
        <span>{{"MENU.WHATS_NEW" | translate}}</span>
      </button>
      <button class="menu-item" mat-menu-item (click)="openRepository()">
        <mat-icon class="menu-item__github-icon" [svgIcon]="'github'"></mat-icon>
        <span>{{"MENU.GITHUB" | translate}}</span>
      </button>
      <div *ngIf="versionService.hasUpdate" class="mat-menu__divider"></div>
      <button *ngIf="versionService.hasUpdate" class="menu-item menu-item--update" mat-menu-item>
        <mat-icon>new_releases</mat-icon>
        <span>{{"MENU.UPDATE" | translate}}</span>
      </button>
  </ng-template>
</mat-menu>

<mat-menu #creationMenu="matMenu">
  <ng-template matMenuContent>
      <button class="menu-item rotate" mat-menu-item (click)="addCarCategory()">
        <mat-icon class="mat-item__icon mat-item__icon--add-car">airport_shuttle</mat-icon>
        <span>{{"MENU.CAR" | translate}}</span>
      </button>
      <button class="menu-item" mat-menu-item (click)="addCategory()">
        <mat-icon class="mat-item__icon mat-item__icon--add">post_add</mat-icon>
        <span>{{"MENU.CATEGORY" | translate}}</span>
      </button>
  </ng-template>
</mat-menu>

