<section class="navigation-bar">
  <nav class="navigation-bar__navigation">
    <nav class="navigation-bar__modules-routes">
      @for (button of navigationButtons; track button) {
        <a
          class="navigation-bar__button-container"
          [routerLink]="'/' + button.route"
          routerLinkActive="navigation-bar__button-container--selected"
          >
          <div class="navigation-bar__button-selector"></div>
          <app-button button-transparent
            [matTooltip]="button.tooltipText | translate"
            matTooltipPosition="right"
            matTooltipShowDelay="500"
            >
            <mat-icon class="navigation-bar__button-icon"
              [svgIcon]="button.icon"
              >
            </mat-icon>
          </app-button>
        </a>
      }
    </nav>

    <div class="navigation-bar__divider"></div>

    @if (!AppConfig.production) {
      <div class="navigation-bar__dev-buttons">
        <app-button button-transparent (click)="onRefreshApp()">
          <mat-icon svgIcon="refresh"></mat-icon>
        </app-button>
        <app-button button-transparent (click)="onOpenDevTools()">
          <mat-icon svgIcon="terminal"></mat-icon>
        </app-button>
      </div>
    }

    @if (false) {
      <app-button button-transparent (click)="onOpenAccount()">
        <mat-icon svgIcon="user"></mat-icon>
      </app-button>
    }

    <app-button button-transparent (click)="openSettings()">
      <mat-icon svgIcon="settings"></mat-icon>
    </app-button>
  </nav>
</section>
