@import '/src/colors';

.navigation-bar {
  height: 100%;
  width: 64px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding-top: 8px;

  &__navigation {
    border-radius: 0 24px 0 0;
    background-color: #fafafa;
    box-shadow: inset 0px 1px 3px 1px rgb(0 0 0 / 6%);
    height: 100%;
    display: flex;
    padding: 12px 0 16px 0;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__side-nav-button{
    align-self: center;
  }

  &__divider {
    flex: 1;
  }

  .switcher-icon {
    transition: transform 0.2s ease-in;

    &--minimize {
      transform: rotateY(180deg);
    }
  }
}