<section mat-ripple class="dashboard-item" [ngClass]="{
  'dashboard-item--m': size === 'm',
  'dashboard-item--s': size === 's'
}">
  @if (external) {
    <mat-icon
      class="dashboard-item__external" svgIcon="external">
    </mat-icon>
  }

  @switch (type) {
    @case ('changelog') {
      <app-changelog-illustration></app-changelog-illustration>
    }
    @case ('documentation') {
      <app-documentation-illustration></app-documentation-illustration>
    }
    @case ('feedback') {
      <app-feedback-illustration></app-feedback-illustration>
    }
    @case ('sourceCode') {
      <app-source-code-illustration></app-source-code-illustration>
    }
    @default {
      <div>...</div>
    }
  }
  <div class="dashboard-item__text-section">
    <span class="dashboard-item__title">{{header}}</span>
    <span class="dashboard-item__description">{{description}}</span>
  </div>
</section>
