@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.create-car-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: $font-system;

  &__container {
    padding: 42px 8px 6px 18px;
    column-gap: 18px;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__parts-inputs-container {
    @include mixins.scrollable;

    max-height: 278px;
    padding: 0 0 12px 0;
    row-gap: 8px;
    column-gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    align-items: center;
    justify-content: center;
  }

  &__parts-container {
    padding: 24px 8px 12px 18px;

    .mat-form-field {
      margin-bottom: 0 !important;
    }
  }

  &__part {
    display: flex;
    align-items: start;
    gap: 8px;
  }

  &__delete-button {
    margin-top: 4px;
  }

  &__delete-button-icon {
    color: $color-dangerous;
  }

  &__content {
    overflow: hidden;
    padding-bottom: 8px;
  }
}

::ng-deep .mat-form-field-infix {
  width: inherit !important;
}