@use '/src/mixins' as mixins;
@import '/src/colors';
@import '/src/fonts';

.create-car-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: $font-system;

  &__container {
    padding: 24px 16px;
  }

  &__parts-container {
    padding: 16px 8px 16px 16px;

    .mat-form-field {
      margin-bottom: 0 !important;
    }
  }

  &__part {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__delete-button-icon {
    color: $color-dangerous;
  }

  &__content {
    padding-bottom: 8px;

    .mat-form-field {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    > * {
      flex: 1 1 230px;
    }
  }
}

ubuntu-container {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}