$color-primary: var(--primary-color);
$color-secondary: var(--secondary-color);
$color-dangerous: #c7162b;
$color-border: #bfbfbf;

$font-primary: #111;
$font-secondary: #3c3a3a;
$font-white: white;


$background-primary: white;
$background-secondary: #f7f7f7;
$background-header-primary: #323030;

$button-color-primary: #0d7f1e;
$button-color-secondary: #4b4848;
$button-color-dangerous: $color-dangerous;
$button-color-neutral: #fcfcfc;
$button-color-active: $color-primary;

$separator-color: #dce1e6;