$color-primary: var(--primary-color);
$color-secondary: var(--secondary-color);
$color-dangerous: #c7162b;

$font-primary: #111;
$font-secondary: #7f7f7f;
$font-white: white;

$background-primary: white;
$background-secondary: #f7f7f7;

$button-color-primary: #0d7f1e;
$button-color-secondary: #4b4848;
$button-color-dangerous: $color-dangerous;
$button-color-neutral: #fcfcfc;
$button-color-active: $color-primary;