:root {
  --background-primary: white;
  --background-secondary: #fafafa;
  --background-button-hover: #0000000d;
  --background-loader: #fafafaad;


  --color-border: #ebebeb;
  --color-button-icon: #4b4848;
  --color-dangerous: #c7162b;

  --platform-color-primary: #222;
  --platform-color-secondary: #4b4848;

  --select-expand-icon-color: #4b4848;

  --toggle-active-color: white;

  --menu-border: none;

  --tooltip-background: #333;
  --tooltip-color: white;

  --dashboard-background-primary: var(--background-primary);
  --dashboard-background-secondary: var(--secondary-color);
  --dashboard-illustration-background-primary: var(--secondary-color);
  --dashboard-illustration-background-secondary: var(--background-secondary);
  --dashboard-illustration-background-tertiary: #4b4848;
  --dashboard-card-icon-color: var(--platform-color-secondary);
}

$color-primary: var(--primary-color);
$color-secondary: var(--secondary-color);
$color-dangerous: var(--color-dangerous);
$color-border: var(--color-border);
$color-button-icon: var(--color-button-icon);

$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);
$background-button-hover: var(--background-button-hover);
$background-loader: var(--background-loader);

$font-color-primary: var(--platform-color-primary);
$font-color-secondary: var(--platform-color-secondary);

$select-expand-icon-color: var(--select-expand-icon-color);

$toggle-active-color: var(--toggle-active-color);

$menu-border: var(--menu-border);

$tooltip-background: var(--tooltip-background);
$tooltip-color: var(--tooltip-color);