@mixin scrollable($padding-right: 10px) {
  scrollbar-gutter: stable;
  overflow-y: auto;
  padding-right: $padding-right - 10px !important;

  &::-webkit-scrollbar-thumb {
    border-top-width: 1px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: #79797966;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #797979ad;
  }
}

@mixin scrollable-horizontal($padding-bottom: 10px) {
  overflow-x: auto;
  padding-bottom: $padding-bottom - 10px !important;

  &:hover::-webkit-scrollbar-thumb {
    background-color: #79797966;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #797979ad;
  }
}