/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  height: 100%;
}

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.custom-dialog {
  .mat-dialog-container {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }
}

.mat-tooltip {
  font-size: 14px;
}

.mat-tooltip--long-text {
  word-break: break-all;
}

.mat-select-value-text,
.mat-date-picker-input {
  font-family: 'Ubuntu';
}

.menu-item.mat-menu-item {
  display: flex;
  align-items: center;

  font-family: 'Ubuntu';
  color: #111;

 .mat-icon {
   margin-right: 4px;

   color: rgb(140, 140, 140);
  }
}