/* You can add global styles to this file, and also import other style files */
@use '/src/mixins' as mixins;
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  height: 100%;
  background-color: white;
}

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.dialog {
  &-custom {
    .mat-dialog-container {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }
  }

  &-settings,
  &-car,
  &-notes {
    .mat-dialog-container {
      padding: 0;

      border-radius: 8px 8px 0 0;
      overflow: hidden;
    }
  }

  &-settings {
    max-height: 80%;

    .mat-dialog-container {
      height: auto;
    }
  }

  &-car {
    max-height: 80%;

    .mat-dialog-container {
      height: auto;
    }
  }

  &-print {
    height: 600px;

    .mat-dialog-container {
      background-color: #f7f7f7;
    }
  }
}

.mat-tooltip {
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  background: #333;
  border-radius: 8px !important;
}

.mat-tooltip--long-text {
  word-break: break-all;
}

.mat-select-value-text,
.mat-date-picker-input {
  font-family: 'Ubuntu';
}

.menu-item.mat-menu-item {
  display: flex;
  align-items: center;

  padding: 0 8px;

  font-family: 'Ubuntu';
  color: #111;
  font-size: 14px !important;
  height: 36px;
  line-height: 36px;
  border-radius: 8px;

 .mat-icon {
   margin-right: 8px;
   color: #3c3a3a !important;
   font-size: 20px;
   height: 20px;
   width: 20px;
  }

  &.menu-item--delete {
    color: #c7162b !important;

    .mat-icon {
      color: #c7162b !important;
    }
  }
}

.menu-item.mat-menu-item:hover {
  background: rgba(0,0,0,0.05) !important;

  .mat-icon {
    animation: shake 0.5s ease-in both;
    backface-visibility: hidden;
    perspective: 1000px;

    &.mat-item__icon--add {
      animation: punch 0.5s ease-in;
    }

    &.mat-item__icon--rotate {
      animation: rotation 0.5s ease-in;
    }

    &.mat-item__icon--delete {
      animation: squeeze 0.5s ease-in;
    }

    &.mat-item__icon--add-car {
      animation: movement 0.5s ease-in;
    }
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg) scale(1);
    }
    60% {
      transform: rotate(180deg) scale(0.8);
    }
    70% {
      transform: rotate(220deg)
    }
    80% {
      transform: rotate(240deg)
    }
    90% {
      transform: rotate(250deg);
    }
    to {
      transform: rotate(255deg) scale(1);
    }
  }

  @keyframes punch {
    from {
      transform: scaleX(1);
    }

    20% {
      transform: scale(1.2, 1.2);
    }

    50% {
      transform: scale(0.8, 0.8);
    }

    70% {
      transform: scale(1.1, 1.1);
    }

    to {
      transform: scale(1, 1);
    }
  }

  @keyframes movement {
    from {
      transform: scaleX(1);
    }

    20% {
      transform: scale(1.2, 0.8) translate3d(-4px, 0, 0) rotate(-5deg);
    }

    50% {
      transform: scale(1, 1);
    }

    70% {
      transform: scale(0.6, 1.4) translate3d(4px, 0, 0) rotate(5deg);
    }

    to {
      transform: scale(1, 1);
    }
  }

  @keyframes squeeze {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
}

.mat-menu-panel {
  min-width: initial !important;
  border-radius: 8px !important;
  background: #ffffffa3;
  backdrop-filter: saturate(180%) blur(10px);
  .cdk-program-focused { 
    background-color: transparent!important; 
  }

  .mat-menu-content {
    padding: 4px !important;
  }

  .mat-menu__divider {
    height: 1px;
    margin: 4px 8px;
    background: #ccc;
  }
}

.mat-select-panel {
  @include mixins.scrollable();
  padding: 0 !important;
}

.app {
  &__image {
    width: 128px;
  }

  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    right: 50%;

    transform: translate(50%,-50%);
    animation: blinker 1.5s ease-in infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
  }
}

body.no-animations {
  * {
    transition: none !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  background-color: transparent;
}