/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  height: 100%;
  font-family: "Ubuntu";
  background-color: white;
}

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.dialog {
  &-custom {
    .mat-dialog-container {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }
  }

  &-settings,
  &-notes {
    .mat-dialog-container {
      width: 600px;
      padding: 0;

      border-radius: 8px 8px 0 0;
      overflow: hidden;
    }
  }

  &-settings {
    max-height: 80%;

    .mat-dialog-container {
      height: auto;
    }
  }

  &-print {
    height: 600px;

    .mat-dialog-container {
      background-color: #f7f7f7;
    }
  }
}

.mat-tooltip {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  background: #333;
  border-radius: 8px !important;
}

.mat-tooltip--long-text {
  word-break: break-all;
}

.menu-item.mat-menu-item {
  display: flex;
  align-items: center;

  padding: 0 12px;

  color: #111;
  font-size: 14px !important;
  height: 40px;
  line-height: 40px;

 .mat-icon {
   margin-right: 8px;
   color: #3c3a3a !important;
   font-size: 20px;
   height: 20px;
   width: 20px;
  }

  &.menu-item--delete {
    color: #c7162b !important;

    .mat-icon {
      color: #c7162b !important;
    }
  }
}

.menu-item.mat-menu-item:hover {
  .mat-icon {
    animation: shake 0.5s ease-out both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }
}

.mat-menu-panel {
  border-radius: 8px !important;
}

.app {
  &__image {
    width: 128px;
  }

  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    right: 50%;

    transform: translate(50%,-50%);
    animation: blinker 1.5s ease-in infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
  }
}

body.no-animations {
  * {
    transition: none !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  background-color: transparent;
}