@use "/src/fonts";

.cm-text-header {
  color: red !important;

  &--h1 {
    font: bold 18px/1.6 fonts.$font-system;
  }

  &--h2 {
    font: bold 16px/1.6 fonts.$font-system;
  }

  &--h3 {
    font: bold 14px/1.6 fonts.$font-system;
  }

  &--h4 {
    font: bold 12px/1.5 fonts.$font-system;
  }
}
