@import '/src/colors';

.home {
  &__sidenav {
    width: 300px;

    box-sizing: content-box;
    border-right: 1px solid $separator-color;
    transition: width 0.5s ease-in-out,
                border-right 0.5s ease-in;

    &--minimize {
      width: 66px;

      border-color: #282626;
      transition: width 0.5s ease-in-out,
      border-right 0.5s ease-out;
    }
  }

  &__content {
    height: 100vh;
    overflow: hidden;
    margin-left: 300px !important;

    transition: margin-left 0.5s ease-in-out;

    &--minimize {
      margin-left: 66px !important;
    }
  }
}
