@use "/src/fonts";

.cm-text-body {

  &--b1 {
    font: 14px/20px fonts.$font-system;
  }

  &--b2 {
    font: 13px/19px fonts.$font-system;
  }

  &--b3 {
    font: 12px/18px fonts.$font-system;
  }
}
