@use "/src/fonts";

.cm-text-body {
  color: blue !important;

  &--b1 {
    font: 14px/1.4 fonts.$font-system;
  }

  &--b2 {
    font: 13px/1.5 fonts.$font-system;
  }

  &--b3 {
    font: 12px/1.5 fonts.$font-system;
  }
}
