@import "/src/colors";

.color-panel {
  display: flex;
  align-items: center;
  gap: 8px;

  &__divider {
    height: 24px;
    width: 1px;
    margin: 4px;
    background: $color-border;
  }

  &__system-color {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}