<div class="delete-dialog">
  <div class="delete-dialog__close-button-container">
    <app-button button-transparent (click)="dialogRef.close()">
      <mat-icon svgIcon="close-rounded"></mat-icon>
    </app-button>
  </div>
  <header class="delete-dialog__header">
    <mat-icon class="delete-dialog__icon" svgIcon="delete-rounded"></mat-icon>
  </header>

  <main class="delete-dialog__content">
    <h2 class="delete-dialog__title">{{"DIALOG.DELETE.TITLE" | translate}}</h2>
    <p class="delete-dialog__text">{{data.text | translate}}</p>
  </main>

  <footer class="delete-dialog__footer">
    <button class="button button__cancel" mat-button (click)="onClose()">
      {{"DIALOG.BUTTONS.CANCEL" | translate}}
    </button>
    <button class="button button__submit" mat-button (click)="onSubmit()">
      {{"DIALOG.BUTTONS.DELETE" | translate}}
    </button>
  </footer>
</div>