<div class="delete-dialog">
  <header class="delete-dialog__header">
    <div class="delete-dialog__button-container">
      <button class="button button__cancel" mat-button (click)="onClose()">{{"DIALOG.BUTTONS.CANCEL" | translate}}</button>
    </div>
    <div class="delete-dialog__header-text">{{"DIALOG.DELETE.TITLE" | translate}}</div>
    <div class="delete-dialog__button-container">
      <button class="button button__submit" mat-button (click)="onSubmit()">{{"DIALOG.BUTTONS.DELETE" | translate}}</button>
    </div>
  </header>

  <main class="delete-dialog__content">
    {{data.text | translate}} "{{data.name}}"?
  </main>
</div>