@import '/src/colors';

.delete-dialog {

  &__header {
    height: 42px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(50, 48, 48);
  }

  &__header-text {
    color: white;
  }

  &__button-container {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: auto;
      justify-content: flex-start;
    }

    &:last-child {
      margin-left: auto;
      justify-content: flex-end;
    }
  }

  &__content {
    padding: 32px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 0px 24px 16px 24px;
  }

  .button {
    font-family: Ubuntu;
    font-weight: normal;
    color: $font-primary;
  }
  
  .button__submit {
    background-color: #c7162b;
    border-color: #c7162b;
    color: #fff;
  }

  .button__cancel {
    background-color: rgb(75, 72, 72);
    border-color: rgb(48,47,47);
    color: #fff;
  }
}